/* =========================
    Team
   ========================= */

.team-grid {
    @extend .flex-sb;
    padding-top: 12px;

    &::after {
        content: "";
        display: block;
        width: 32.7%;
    }

    @include tablet {
        padding-top: 0;
        margin-top: -5px;
    }
}

.team-item {
    width: 32.7%;
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid $colorBorder;
    cursor: pointer;

    .team-img {
        overflow: hidden;
        border-radius: 7px;
        height: 550px;

        @include macbook {
            height: 420px;
        }

        @include tablet {
            height: 320px;
        }

        @include mobile {
            height: 290px;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            transition: transform 0.3s;

            @include ie10 {
                height: auto;
            }
        }
    }

    .team-name {
        padding-top: 32px;
        padding-bottom: 50px;

        p {
            padding-top: 4px;
            color: $colorTextG;
        }
    }

    .no-touchevents &:hover {
        .team-img img {
            transform: scale(1.05);
        }
    }
}

.team-slog {
    box-sizing: content-box;
    width: 282px;
    padding-left: calc(32.7% + ((100% - (32.7% * 3)) / 2));
    padding-bottom: 80px;

    p {
        margin-bottom: 28px;
    }

    .btn {
        min-width: 130px;
    }
}

@include tablet {
    .team-item {
        width: 48.6%;
        margin-bottom: 30px;
    }

    .team-slog {
        margin: 0 0 0 34%;
        padding-top: 35px;
        padding-left: 0;
        padding-bottom: 130px;
    }
}

@include mobile {
    .team-slog {
        padding-top: 60px;
        margin-left: 0;
    }

    .team-grid {
        padding-top: 20px;
        border-top: 1px solid $colorBorder;
    }

    .team-item {
        width: 100%;
    }

    .team-slog {
        width: 100%;
        box-sizing: border-box;

        p {
            margin-bottom: 50px;
        }
    }
}