/* =========================
    Page main
   ========================= */

.screen-main {
    background-image: url(../images/screen-bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 768px) and (orientation: portrait) {
        background-image: url(../images/screen-bg-tablet.jpg);
    } 

    @media screen and (max-width: 820px) and (orientation: landscape) {
        background-image: url(../images/screen-bg.jpg);
    }

    @media screen and (max-width: 550px) and (orientation: portrait) {
        background-image: url(../images/screen-bg-mobile.jpg);
    }

    .col {
        position: relative;
        left: $left-col-width;
        width: 260px;
        padding-top: 130px;
        padding-bottom: 165px;

        @include desktop--tablet {
            @media screen and (max-height: 920px) {
                padding-top: 70px;
                padding-bottom: 100px;
            }

            @media screen and (max-height: 770px) {
                padding-top: 50px;
                padding-bottom: 50px;
            }

            @media screen and (max-height: 640px) {
                .ttl-1 {
                    font-size: 10vh;
                    line-height: 10vh;
                }
            }
        }
    }

    p {
        @extend .bold;
    }

    .slog {
        margin-top: auto;
        margin-bottom: 4vh;
    }

    .hint {
        position: absolute;
        left: 0;
        bottom: 25px;

        @include tablet {
            display: none;
        }
    }
}

@media screen and (max-width: 960px) {
    .screen-main {
        .ttl-1 {
            font-size: 50px;
            line-height: 47px;
            letter-spacing: -1.75px;
        }
    }
}

@include mobile {
    .screen-main {
        height: 100vh;

        @media screen and (max-height: 590px) {
            height: 590px;
        }

        .ttl-1 {
            width: 57%;
            font-size: 35px;
            line-height: 34px;
            margin-bottom: 0;
        }
        
        .col {
            left: auto;
            width: auto;
            padding-top: 70px;
            padding-bottom: 30px;

            p {
                width: 160px;
                margin: 33px 0 auto;
                // margin-bottom: 200px;
            }
        }

        .slog {
            display: none;
        }
    }
}

@include mobile-land {
    .screen-main {
        height: auto;
        min-height: 100vh;

        .col {
            p {
                margin-bottom: 25px;
            }
        }
    }
}

// Solution
.solutions-main-wrap {
    padding-top: 52px;
}

.solutions-main-block {
    position: relative;
    padding-left: 13%;

    > .hint {
        position: absolute;
        top: 2px;
        left: 0;
    }
}

.solutions-main-top {
    position: relative;
    min-height: 195px;
    padding: 0 250px 0 0;
    border-bottom: 1px solid $colorBorder;
    margin-bottom: 50px;

    .right-elements {
        position: absolute;
        top: 0;
        right: 0;

        p {
            @extend .bold;
            margin-bottom: 70px;
        }
    }
}

// Indicators
.indicators {
    @extend .flex-sb;
    padding-bottom: 70px;

    .indicator {
        width: 55px;
        text-align: center;
        transition: opacity 0.5s;

        &.tab-item {
            cursor: pointer;

            &:hover span {
                color: $colorGreen;
            }
        }

        &.eclipse {
            opacity: 0.2;
        }

        .icon {
            position: relative;
            margin-bottom: 17px;
            width: 55px;
            height: 55px;
        }

        span {
            @extend .bold;
            display: block;
            margin-left: -25px;
            margin-right: -25px;
            line-height: 18px;
            transition: color 0.3s;
        }
    }
}

.indicators-min {
    .indicator {
        width: 35px;

        .icon {
            width: 35px;
            height: 35px;
            margin-bottom: 11px;
        }

        span {
            margin: 0 -15px;
            font-size: 12px;
            line-height: 14px;
        }
    }
}

.indicators-c {
    position: absolute;
    left: 0;
    top: 440px;
    justify-content: flex-start;
    padding-bottom: 0;
    visibility: hidden;
    opacity: 0;

    @media screen and (max-width: 1800px) {
        top: 330px;
    }

    .indicator {
        align-self: flex-start;
        margin-right: 40px;
        display: none;
        
        span {
            @extend .trans-opacity;
            opacity: 0;
        }

        .icon {
            border-radius: 50%;
            overflow: hidden;
            transform: scale(0);
            opacity: 0;
            animation: none;
        }
    }

    &.show { // INDICATORS SHOW
        animation: fadeIn-l 0.3s linear forwards;

        .indicator {

            &:not(.eclipse) {
                display: block;
            }

            span {
                transition-delay: 0.3s;
                opacity: 1;
            }

            .icon {
                animation: scaleIn 0.3s linear forwards;
            }

            @for $i from 1 to 12 {
                &:nth-child(#{$i}) .icon {
                    animation-delay: calc(#{$i} * 0.008s);
                }
            }
        }
    }
}

// Tares
$tareHeight: 560px;
$animateDur: 0.30s;

.tare-wrap {
    @extend .flex-sb;
    margin-bottom: 140px;
}

.tare-wrap-c {
    position: relative;
    height: calc(#{$tareHeight} + 50px);
    margin-bottom: 0;
    z-index: 100;    

    @media screen and (max-width: 1800px) {
        height: calc(#{$tareHeight} - 70px);
    }
}

.tare-container {
    position: relative;
}

.tare-item {
    position: relative;
    width: 24.35%;
    height: $tareHeight;

    &::after {
        @extend .ps;
        width: 100%;
        height: 200px;
        left: 0;
        top: 100%;
    }
    
    .tare-inner {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        transition: clip-path $animateDur $easing;
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: inset(0 0 0 0 round 10px);

        &::after {
            @extend .ps;
            width: 100%;
            height: 100%;
            // border-radius: 10px;
            background-color: $colorPanel;
            transition: height $animateDur $easing;
        }
    }

    .indicators {
        display: none;
    }

    .text-main, .tare-img {
        z-index: 1;
    }
    
    .text-main {
        position: absolute;
        left: 20px;
    }

    .tare-name {
        @extend .trans-color;
        top: 20px;
    }

    .tare-number {
        @extend .trans-opacity;
        bottom: 16px;
    }

    .tare-img {
        display: block;
        position: absolute;
        width: 460px;
        bottom: -35px;
        left: 50%;
        transform: translateX(-50%);

        img {
            @extend .not-blurry;
            width: 100%;
            height: 100%;
            display: block;
            transition: transform $animateDur $easing 0s;
            transform: translateX(11vw);
            transform-origin: bottom;
        }
    }

    // HOVER
    .no-touchevents &:hover {

        .tare-name {
            color: $colorGreen;
        }

        .tare-number {
            opacity: 0;
        }

        .tare-inner {
            // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 85%);
            clip-path: inset(0 0 20% 0 round 10px);

            &::after {
                height: 85%;
            }
        }

        .tare-img  img {            
            transform: translateX(0) translateY(-55px) scale(0.80);
            zoom: 1;
        }

        @include edge {
            .tare-inner {
                &::after {
                    height: 100%;
                }
            }
            
            .tare-img  img {
                transform: translateX(0) translateY(0) scale(0.80);
            }
        }
    }

    @media screen and (max-width: 1800px) {
        height: calc(#{$tareHeight} - 150px);

        .tare-img {
            width: 360px;
        }
    }
}

.no-touchevents .tare-wrap-c {
    .tare-item {
        transition: opacity 0.3s;

        &:hover {
            .tare-inner {
                // clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%);
                clip-path: inset(0 0 30% 0 round 10px);

                &::after {
                    height: 70%;
                }
            }
        }

        &.inactive {
            opacity: 0.42;

            .tare-inner {
                // clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
                clip-path: inset(0 0 50% 0 round 10px);

                &::after {
                    height: 50%;
                }
            }

            .tare-img img {
                transform: translateX(11vw) translateY(-90px);
            }
        }
    }
}


@include tablet {
    .solutions-main-block, .tare-container {
        
        .indicators {
            display: none;
        }
    }

    .solutions-main-block { 
        padding-left: 90px;
    }

    .solutions-main-top {
        min-height: 175px;

        .ttl {
            font-size: 35px;
            line-height: 34px;
        }
    }

    .tare-wrap {
        display: block;
        margin: 0 -25px 100px;
    }

    .tare-item {
        width: 100%;
        height: auto;
        margin-bottom: 45px;

        &::after {
            display: none;
        }

        .tare-inner {
            height: 415px;
        }

        .tare-name {
            left: 25px;
        }

        .tare-number {
            font-size: 12px;
            line-height: 15px;
            left: auto;
            right: 25px;
        }

        .tare-img {
            width: 450px;
            bottom: -85px;

            img {
                transform: translateX(0);
            }
        }

        .indicators {
            display: flex;
            margin: 0 0 0 25px;
            padding: 30px 0 0;
            justify-content: flex-start;
            
            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 25px;
                right: 25px;
                height: 1px;
                background-color: $colorBorder;
            }

            .indicator {
                width: 35px;
                margin-right: 35px;
                margin-bottom: 25px;

                .icon {
                    width: 35px;
                    height: 35px;
                    margin-bottom: 12px;
                }

                span {
                    margin: 0 -10px;
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }

    .tare-wrap-c {
        height: auto;

        .tare-item .indicators {
            padding-top: 50px;

            .indicator {
                width: 70px;
                margin-right: 30px;
                margin-bottom: 45px;

                .icon {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
        }
    }
}

@include mobile {
    .solutions-main-wrap {
        padding-top: 35px;
    }

    .solutions-main-block {
        padding-left: 0;

        > .hint {
            display: none;
        }
    }

    .solutions-main-top {
        min-height: auto;
        padding: 0;
        margin-bottom: 37px;
        border: none;

        .ttl {
            font-size: 30px;
            line-height: 32px;
        }

        .right-elements {
            display: none;
        }
    }

    .tare-item {

        .tare-inner {
            height: 390px;
        }

        .tare-name {
            top: 25px;
        }
        
        .tare-number {
            left: auto;
            top: 28px;
            right: 25px;
            font-size: 14px;
        }

        .tare-img {
            width: 300px;
            bottom: -25px;
        }
    }

    .tare-wrap-c {

        .tare-item {
            margin-bottom: 27px;

            .indicators {
                padding-top: 35px;                
                
                .indicator {
                    width: 53px;
                    margin-right: 27px;
                    margin-bottom: 33px;
    
                    .icon {
                        width: 53px;
                        height: 53px;
                    }
                }
            }
        }
    }
}

@include mobile-min {
    .tare-wrap {
        margin: 0 -20px;
    }
}

// Info Row
.info-row {
    padding-bottom: 30px;

    .ttl-4 {
        margin-bottom: 14px;
    }

    .layout-col-r {
        @extend .flex-sb;
        padding-right: 65px;

        > * {
            align-self: flex-end;
        }
    }

    .layout-col-s-6 {
        @extend .flex-sb;

        > * {
            align-self: flex-end;
        }
    }

    .text-chunk-1 {
        @extend .bold;
        width: 175px;
        margin: 0;
    }

    .text-chunk-2 {
        width: 260px;
    }

    .tel {
        margin: 0 50px 0 0;
    }

    .with-us {
        margin-right: auto;

        .btn {
            top: 2px;
        }
    }
}

@media screen and (max-width: 1900px) {
    .info-row {
        
        .layout-col-r {
            padding-right: 0;
        }

        .text-chunk-2 {
            display: none;
        }

        .text-chunk-1 {
            order: 1;
        }

        .tel {
            order: 3;
            margin: 0;
        }

        .with-us {
            order: 2;
            width: auto;
        }
    }
}

@include tablet {
    .info-row {
        position: relative;
        padding: 0 0 60px;

        .layout-col-l, .layout-col-r {
            position: static;
            width: 50%;
        }

        .layout-col-s-4, .layout-col-s-6 {
            width: 100%;
        }

        .text-chunk-1 {
            position: absolute;
            left: 0;
            top: 120px;
        }

        .text-chunk-2 {
            display: block;
            order: 2;
        }

        .text-chunk-1, .text-chunk-2 {
            display: none;
        }

        .with-us {
            width: 100%;
            order: 1;
            // margin-bottom: 40px;
        }

        .tel {
            display: none;
        }
    }
}

@include mobile {
    .info-row {
        display: block;
        padding-bottom: 20px;

        .with-us {
            margin-bottom: 0;
        }

        .layout-col-l, .layout-col-r {
            width: 100%;
            display: block;
        }

        .text-chunk-1, .text-chunk-2 {
            display: block;
            width: 100%;
            position: static;
            padding-top: 45px;
            padding-bottom: 25px;
            margin-bottom: 45px;
            border-bottom: 1px solid $colorBorder;
        }
    }
}

// Mission
.fader {
    padding-top: 105px;
    padding-bottom: 120px;

    .layout-col-l .ttl-2 {
        margin-bottom: 290px;

        @include macbook {
            font-size: 35px;
            line-height: 40px;
            margin-bottom: 270px;
        }
    }

    .slider-buttons {
        width: 100px;
    }

    .slider-dots {
        display: inline-block;
        position: relative;
        margin-bottom: 98px;

        @include macbook {
            margin-bottom: 70px;
        }

        &::after {
            @extend .ps;
            left: 0;
            top: auto;
            bottom: -10px;
            width: calc(100% - 14px);
            height: 1px;
            background-color: $colorBorder;
        }

        li {
            min-width: $dotsLiWidth;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;

            .no-touchevents &:hover  .text-main,
            &.active .text-main {
                color: $colorGreen;
            }

            .text-main {
                transition: color 0.4s;
            }

            .index {
                @extend .bold;
                opacity: 0.4;
                margin-bottom: 9px;
            }

            &:last-child {
                width: auto;
            }
        }
    }

    .slides {
        height: 355px;
        overflow: hidden;
    }

    .slide {
        transition: transform 0.2s $easing 0s;
        transform: translateX(30px);

        &.active {
            transform: translateX(0);
            transition-duration: 0.4s;
            transition-delay: 0.3s;
        }
        
        .icon {
            width: 38px;
            height: 38px;
            margin-bottom: 23px;
        }

        .ttl-4 {
            @extend .not-blurry;
            margin-bottom: 36px;
        }

        .text-cols {
            display: flex;

            .text-col {

                &:first-child {
                    width: calc(2 * #{$dotsLiWidth});
                }

                p {
                    width: 290px;
                }
            }
        }
    }

    .btn-contact-us {
        margin-left: calc(2 * #{$dotsLiWidth});
    }
}

@include tablet {
    .fader {
        display: block;
        padding-top: 40px;
        padding-bottom: 70px;

        .slider-buttons {
            display: none;
        }

        .layout-col-l, .layout-col-r {
            width: 100%;
        }

        .layout-col-l .ttl-2 {
            margin-bottom: 80px;
        }

        .slide {
            padding-left: calc(#{$dotsLiWidth});

            .text-cols {
                .text-col, .text-col:first-child {
                    width: $dotsLiWidth;

                    p {
                        width: 80%;
                    }
                }
            }
        } 
    }
}

@media screen and (max-width: 800px) {
    .fader {
        .slides {
            height: 400px;
        }

        .slider-dots {

            li:not(:last-child) {
                min-width: calc(#{$dotsLiWidth} - 50px);
            }

            li:first-child {
                min-width: calc(#{$dotsLiWidth} - 120px);
            }
        }

        .slide {
            padding-left: calc(#{$dotsLiWidth} - 120px);

            .text-cols {
                .text-col, .text-col:first-child {
                    width: calc(#{$dotsLiWidth} - 50px);
                }
            }
        }

        .btn-contact-us {
            margin-left: calc(2 * (#{$dotsLiWidth} - 50px));
        }
    }
} 

@include mobile {
    .fader {
        overflow: hidden;
        margin-right: 0;

        .swipe-hint {
            top: 135px;
            right: 25px;
        }

        .slider-dots {
            width: calc(100% + 25px);
            padding-bottom: 8px;
            overflow-x: auto;
            white-space: nowrap;
            border-bottom: 1px solid $colorBorder;

            &::after {
                display: none;
            }

            li:last-child {
                min-width: calc(#{$dotsLiWidth} - 30px);
            }
        }

        .layout-col-l .ttl-2 {
            padding-right: 100px;
            margin-bottom: 62px;
        }

        .slides {
            height: 350px;
        }

        .slide {
            padding-left: 0;

            .icon {
                position: absolute;
                top: 3px;
                left: 0;
            }

            .ttl-4 {
                width: calc(100vw - 50px - 75px);
                padding-left: 58px;
                margin-bottom: 32px;
                line-height: 23px;
            }

            .text-cols {
                display: block;

                .text-col, .text-col:first-child {
                    width: 100%;

                    p {
                        margin-bottom: 18px;
                    }
                }
            }
        }

        .btn-contact-us, .btn-about-us {
            width: calc(100% - 25px);
            margin-left: 0;
        }
    }
}

// Feedback Fader
.feedback-fader {
    position: relative;
    height: 600px;
    border-radius: 25px;
    overflow: hidden;

    &::before, &::after {
        @extend .ps;
        width: 100%;
        left: 0;
        height: 340px;
    }

    &::before {
        opacity: 0.3;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0) 100%);
    }

    &::after {
        top: auto;
        bottom: 0;
        opacity: 0.5;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .slider-buttons {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        
        .prev, .next {
            top: 0;
            position: absolute;
            height: 100%;
            border-radius: 0;
            opacity: 0;
        }

        .prev {
            width: 25%;
            left: 0;
        }

        .next {
            width: 75%;
            right: 0;
        }
    }

    .slider-dots {
        position: absolute;
        bottom: 40px;
        right: 0;

        li {
            display: inline-block;
            margin-left: 13px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            cursor: pointer;
            background-color: #c7c7c7;
            transition: background-color 0.4s;

            &.active {
                background-color: $colorGreen;
            }
        }
    }
    
    .feedback-img {
        @extend .ctrHor;
        position: absolute;
        width: 630px;
        bottom: 0;

        img {
            display: block;
            width: 100%;            
            transition: transform 0.15s;
        }
    }

    .slides {
        height: 100%;
    }

    .slide { // Slide
        .col, .layout-col-l {
            transform: translateX(40px);
            transition: transform 0.5s $easing;
        }

        &.active {
            animation-delay: 0s;
            
            .col, .layout-col-l {
                transform: translateX(0);
            }
        }

        .layout-col-r {
            padding: 80px 0 40px;
        }

        .ttl-top, .ttl-3, p {
            @extend .not-blurry;
        }

        .quote-block {
            width: 280px;
            margin-bottom: 15%;
        }
    }
}

.no-touchevents {
    .feedback-fader {
        .slider-buttons {
            .prev, .next {
                cursor: none !important;
            }
        }
    }
}

@include tablet {
    .feedback-fader {
        height: 530px;

        .feedback-img {
            width: 440px;
        }

        .slider-buttons {
            opacity: 1;
            width: 103px;
            top: 30px;
            // left: calc(#{$left-col-width} + ((0.17 + 0.243) * (100% - #{$left-col-width})));
            left: calc(#{$left-col-width} + ((.17 + .22) * (100% - #{$left-col-width})));

            .prev, .next {
                opacity: 1;
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }

        .slider-dots {
            bottom: 30px;
        }

        .slide {
            .layout-col-r {
                padding-top: 115px;
                padding-bottom: 30px;
            }
        }
    }
}

@include mobile {
    .feedback-fader {
        height: 765px;

        .feedback-img {
            width: 380px;
            right: -105px;
            left: auto;
            transform: none;
        }

        .slider-buttons {
            left: 25px;
        }

        .slider-dots {
            right: auto;
            left: 0;

            li {
                margin: 0 8px 0 0;
            }
        }

        .slide {
            flex-wrap: wrap;
            flex-direction: column;
            
            .layout-col-l {
                height: 325px;
                order: 2;
            }
    
            .layout-col-r {
                order: 1;
                padding: 105px 0 0;
                height: 440px;
            }

            .ttl-top-section {
                margin-bottom: 20px;
            }

            .quote-block {
                margin-bottom: auto;
            }
        }
    }
}

// About Section
.about-section {
    padding: 104px 0 144px;
    justify-content: flex-end;
    
    .about-head {
        margin-bottom: 115px;

        .ttl-top-section {
            margin-bottom: 53px;
        }
    }
}

.history-line {
    @extend .flex-sb;
    position: relative;
    width: 270px;

    @include mobile {
        width: 100%;
    }

    &::after {
        @extend .ps;
        width: 100%;
        height: 1px;
        top: 6px;
        border-top: 1px dashed $colorBorder;
    }

    span {
        @extend .bold;
        display: inline-block;
        padding-right: 12px;
        color: $colorText2;
        background-color: $colorBg;
        z-index: 1;

        &:nth-child(2) {
            padding: 0 0 0 12px;
        }
    }
}

.numbers-row {
    @extend .flex-sb;

    .numbers-col {
        width: 33%;

        .numbers-item {
            margin-bottom: 96px;
        }

        &:nth-child(1) {
            width: 41%;
        }

        &:nth-child(2) {
            width: 37.5%;
        }

        &:nth-child(3) {
            width: 21.5%;
        }
    }
}


@include tablet {
    .about-section {
        padding: 80px 0 70px;

        .numbers-row .numbers-col:nth-child(3) {
            position: relative;
            right: -50%;
        }
    }

    .numbers-row {
        position: relative;
        width: 75%;
        flex-wrap: wrap;

        .numbers-col {
            width: 50% !important;

            .numbers-item {
                p {
                    width: 135px;
                }
            }
        }

        .btn-about {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

@include mobile {
    .about-section {
        padding: 40px 0 44px;

        .about-head {
            margin-bottom: 84px;
        }

        .numbers-row .numbers-col:nth-child(3) {
            right: auto;
        }
    }

    .numbers-row {
        width: 100%;
        padding-bottom: 120px;

        .numbers-col {
            width: 100% !important;

            .numbers-item {
                padding-bottom: 15px;
                margin-bottom: 32px;
                border-bottom: 1px solid $colorBorder;

                p {
                    width: 100%;
                }
            }
        }
    }
}

// Video Section
.video-section, .article-section {
    position: relative;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;

    &::after {
        @extend .ps;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0.12) 100%);
        opacity: 0.9;
        z-index: 0;
    }

    .layout-row {
        justify-content: flex-end;
    }

    .col {
        position: relative;
        z-index: 1;
    }
}

.video-section {
    .col {
        padding: 45px 0;
    }

    .text-desc {
        width: 140px;
        line-height: 18px;
    }

    .ttl-section {
        align-self: flex-start;
    }

    .btn-more {
        position: absolute;
        bottom: 45px;
        right: 0;
    }

    .play-button-wrap {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        transition: transform 0.5s $easing, top 0.5s $easing, left 0.5s $easing;
    }

    .no-touchevents &:hover .play-button-wrap {
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }
}

@include ie10 {
    .video-section {
        .ttl-section {
            position: absolute;
            left: 0;
            bottom: 40px;
        }
    }
}

.article-section {
    height: 425px;

    .text-main, 
    .desc-row .place, 
    .desc-row .date,
    .btn-more {
        align-self: flex-end;
    }

    .col {
        padding: 40px 0 30px;
    }

    .text-main {
        width: 145px;
        text-align: right;
    }

    .desc-row {
        @extend .flex-sb;

        .place, .date {
            padding-bottom: 5px;
            color: $colorBg;
            opacity: 0.8;
        }

        .place {
            margin: 0 52px 0 auto;
        }

        .ttl-2 {
            max-height: 145px;
            overflow: hidden;
        }
    }
}

@include tablet {
    .video-section, .article-section {
        .layout-col-r {
            width: 100%;
            height: 100%;
        }

        .col {
            padding: 25px 0;
        }
    }

    .video-section {

        .col {
            justify-content: center;
        }

        .text-desc {
            position: absolute;
            right: 0;
            top: 25px;
            text-align: right;
        }

        .play-button-wrap {
            left: auto;
            right: 0;
        }

        .btn-more {
            bottom: 25px;
        }
    }

    .article-section {

        .text-main {
            width: 115px;
            font-size: 14px;
            line-height: 18px;
        }

        .desc-row {
            .place {
                margin-right: 10%;
            }
        }
    }
}

@include mobile {
    .video-section, .article-section {
        height: 535px;
        border-radius: 10px;

        .col {
            padding: 38px 0;
        }
    }

    .video-section {
        background-position: 70% 0;

        .col {
            justify-content: space-between;
        }

        .text-desc {
            position: static;
            text-align: left;
            margin-bottom: 0;
        }

        .ttl-section {
            margin: auto 0 20px 0;
        }

        .play-button-wrap {
            position: relative;
            transform: none;
            top: auto;
            margin-bottom: auto;
        }

        .btn-more {
            position: relative;
            bottom: auto;
        }
    }

    .article-section {
        .text-main {
            width: 145px;
            text-align: left;
            font-size: 20px;
            line-height: 24px;
            align-self: flex-start;
        }

        .desc-row {
            flex-wrap: wrap;

            .ttl-2 {
                width: 100%;
                font-size: 40px;
                line-height: 39px;
                margin-bottom: 17px;
                max-height: 112px;
            }

            .place {
                margin: 0;
            }
        }
    }
}

// Graph
.graph-section {
    padding: 80px 0 135px;

    .layout-row {
        height: auto;
    }

    .graph-col-l {
        display: flex;
    }

    .ttl-3 {
        width: 220px;
        align-self: flex-end;
    }
}

.graph-block {
    .legend {
        display: flex;
        margin-bottom: 25px;

        li {
            position: relative;
            padding-left: 28px;
            margin: 0 20px 25px 0;
        }

        .legend-color {
            position: absolute;
            width: 19px;
            height: 8px;
            left: 0;
            top: 7px;
            border-radius: 5px;
        }

        span {
            @extend .bold;
            font-size: 19px;
            line-height: 24px;
        }
    }

    .graph {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.graph-section-bottom {
    padding-top: 80px;

    p {
        width: 195px;
    }
}

@include macbook {
    .graph-section {

        .layout-col-r {
            width: calc(100% - #{$left-col-width});
        }
        
        .graph-col-l {
            width: 39%;
        }

        .graph-col-r {
            width: 61%;
        }
    }
}

@include tablet {
    .graph-section {
        padding: 115px 0;

        .layout-row {
            flex-wrap: wrap;
        }

        .graph-col-l, .graph-col-r {
            width: 100%;
        }

        .ttl-3 {
            margin-bottom: 80px;
        }
    }

    .graph-section-bottom {
        .graph-col-l {
            order: 2;
        }

        .graph-col-r {
            order: 1;
        }

        p {
            margin-bottom: 40px;
        }
    }
}

@include mobile {
    .graph-section {
        padding: 40px 0;

        .layout-col-r {
            width: 100%;
        }
    }

    .graph-block {

        .swipe-hint {
            top: 7px;
        }
        
        .legend {
            padding-right: 120px;

            li {
                padding-left: 20px;
            }

            .legend-color {
                width: 12px;
                height: 5px;
                top: 6px;
            }

            span {
                font-size: 14px;
                line-height: 18px;
            }
        }

        .graph-scroll {
            position: relative;
            width: calc(100% + 50px);
            overflow-x: auto;
            left: -25px;

            // &::-webkit-scrollbar { 
            //     display: none;  
            // }
        }

        .graph {
            text-align: center;
            padding: 0 5px;
            width: 580px;
        }
    }
}

@include mobile-min {
    .graph-block {
        .graph-scroll {
            width: calc(100% + 40px);
            left: -20px;
        }
    }
}

// Events
.events-wrap {
    padding: 135px 0 85px;

    .ttl-section {
        padding-right: 50px;
    }

    > .layout-col-l {
        padding-top: 125px;
    }

    > .layout-col-r {
        > .hint {
            margin-bottom: 31px;
        } 
    }
}

.dates {
    @extend .bold;
    font-size: 40px;
    line-height: 47px;
    white-space: nowrap;

    @include macbook {
        font-size: 35px;
        line-height: 35px;
    }
}

.events-img {
    position: absolute;
    z-index: 100;
    animation: fadeOut-l 0.2s forwards;
    width: 230px;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path 0.2s $easing;

    &.show {
        animation: fadeIn-l 0.2s forwards;
        transition-duration: 0.3s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    img {
        width: 100%;
    }
}

.events-table-row {
    position: relative;
    padding: 108px 0 103px;
    border-bottom: 1px solid $colorBorder;
}

.events-ttl-section {
    width: 320px;

    .ttl-top {
        color: $colorGreen;
        margin-bottom: 4px;
    }

    .ttl-4 {

        a:hover {
            color: $colorGreen;
        }
    }
}

.events-table-cell-m {
    @extend .flex-sb;

    .events-ttl-section {
        cursor: pointer;
    }

    .btn-add {
        min-width: 165px;
    }
}

.events-table-bottom {
    justify-content: flex-end;
    padding-top: 30px;
}

@include macbook {
    .events-wrap {
        > .layout-col-l {
            .ttl-2 {
                font-size: 35px;
                line-height: 35px;
                letter-spacing: -1.23px;
            }
        }
    }

    .events-table-cell {
        .dates {
            position: relative;
            top: 6px;
        }
    }
}

@include tablet {
    .events-wrap {
        padding: 90px 0 105px;
        flex-wrap: wrap;

        > .layout-col-l, > .layout-col-r {
            width: 100%;
        }

        > .layout-col-r {
            > .hint {
                display: none;
            }
        }
    }

    .events-table-row {
        padding: 75px 0;
    }

    .events-table-bottom {
        padding-top: 75px;
    }

    .events-table {
        .layout-col-s-3 {
            width: 34%;
        }

        .layout-col-s-7 {
            width: 66%;
        }
    }
}

@media screen and (max-width: 800px) {
    .events-ttl-section {
        width: 250px;
    }

    .events-wrap {
        > .layout-col-l {
            padding-top: 0;
        }
    }
}

@include mobile {
    .events-wrap {
        padding: 40px 0 55px;

        .ttl-section {
            width: 200px;

            br {
                display: none;
            }
        }

        > .layout-col-l {
            padding-top: 0;
        }
    }

    .events-table {
        .events-table-cell, .events-table-cell-m {
            width: 100% !important;
        }

        .events-table-cell-m {
            .btn-add-wrap, .btn-add {
                height: 62px;
                width: 100%;
            }

            .events-ttl-section {
                margin-bottom: 30px;
            }
        }

        .dates {
            margin-bottom: 20px;
        }
    }

    .events-ttl-section {
        width: 290px;

        .ttl-top {
            margin-bottom: 7px;
        }
    }

    .events-table-row {
        display: block;
        padding: 85px 0 20px;
    }

    .events-table-bottom {
        padding-top: 55px;

        .layout-col-s-7 {
            width: 100% !important;
        }
    }
}


@media screen and (min-width: 1151px) {
    .section-one {
        position: absolute;
        top: 0;
        left: 0; 
        right: 0;  
        
        &.fixed {
            position: fixed;
            top: auto;
            bottom: 0;
        }
    }

    .section-two {
        position: relative;
        z-index: 2;
        left: 0;
        background-color: $colorBg;
    }

    .section-eclipse {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.05s;
    
        &.show {
            z-index: 1;
        }
    }
}

.touchevents { // iPad Pro Land
    @media screen and (max-width: 1366px) and (min-width: 1355px) {
        .section-one {
            position: static;

            &.fixed {  position: relative; }
        }

        .section-two {
            top: auto !important;
        }

        .section-eclipse {
            display: none;
        }
    }
}

@include edge {
    .section-one {
        position: static;

        &.fixed {  position: relative; }
    }

    .section-two {
        top: auto !important;
    }

    .section-eclipse {
        display: none;
    }
}