/* =========================
    Events
   ========================= */

.title-top {
    height: 415px;
    padding: 105px 0 30px;

    .ttl-1 {
        margin-left: -5px;
    }
}

.btn-back {
    min-width: 112px;
}

.event-section-main {
    height: 667px;
    border-radius: 25px 25px 0 0;

    .screen-content {
        .ttl {
            max-width: 370px;
        }
    }

    .now-flag {
        top: 60px;
        left: 0;
    }
}