/* =========================
    Contact 
   ========================= */
.contact-main {
    overflow: hidden;
}

.contact-back-container {
    position: absolute;
    z-index: 1;

    a.btn::after {
        background-color: #f5f5f5;
        border-radius: 7px;
    }
}

.countrys {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;


    z-index: 4;

    .countrys-wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: white;
        padding: 34px 21px 30px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        z-index: 4;
        transition: all 300ms ease;
    }

    .countrys-list {
        width: 60%;
        display: flex;
        justify-content: space-between;
        z-index: 1;

        li {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: opacity 330ms ease;

            &.not_active {
                opacity: 0.4;
            }

            &.active,
            &:hover {
                opacity: 1;
            }

            img {
                width: 33px;
                height: 33px;
                margin-bottom: 7px;
            }
        }
    }

    .select-country-wrap {
        width: 21%;
    }
}

.contact-help {
    position: absolute;
    left: 18px;
    bottom: 132px;
    transition: bottom 300ms ease;
    height: 14px;
    z-index: 4;

    span {
        position: absolute;

        &:first-child {
            opacity: 1;
            visibility: initial;
        }

        &:last-child {
            opacity: 0;
            visibility: hidden;
        }

        &::before {
            @include tr-right(4px, 4px, 4px, $colorText2);
            content: "";
            position: absolute;
            z-index: 1;
            top: 3px;
            right: -16px;
            transform: rotate(90deg);
            transition: transform 300ms ease;
        }
    }

    &.active {
        bottom: 222px;

        span {
            &:last-child {
                opacity: 1;
                visibility: initial;

                &::before {
                    transform: rotate(0);
                }
            }

            &:first-child {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.contacts-list {
    position: absolute;
    display: flex;
    // justify-content: space-between;
    bottom: 118px;
    height: 103px;
    left: 0%;
    width: 100%;
    max-width: calc(100%);
    z-index: 3;
    opacity: 0;
    transition: transform 300ms ease, opacity 100ms ease;
    transform: translateY(200%);
    overflow-x: auto;
    @extend .scroll-custom-x;

    .contacts-item {
        position: absolute;
        max-width: 280px;
        width: 21%;
        cursor: pointer;
        display: none;
        display: flex;
        opacity: 1;
        transform: translateY(0%);
        padding-right: 80px;
        margin-bottom: 10px;
        transition: left 300ms linear;

        img {
            display: block;
            width: 51px;
            height: 51px;
            min-width: 51px;
            min-height: 51px;
            margin-right: 17px;
        }

        .text {
            font-family: $fontMain;
            font-size: 14px;
            font-weight: 400;

            .top {
                margin-top: 10px;
                margin-bottom: 10px;
                color: #505050;

            }

            .bottom {
                color: #1c989c;
            }
        }

        @for $i from 0 through 20 {
            &:nth-child(#{$i}) {
                left: calc(#{$i} * 21%);
                transition: left #{$i * 100}ms linear;
            }
        }

        &.active {
            left: 21% !important;
        }
    }

    &.active {
        display: flex;
        opacity: 1;
        transform: translateY(0%);
        // overflow: hidden;
    }
}

.form-active {
    .contacts-list {
        .contacts-item {
            &:not(.active) {
                opacity: 0;
                pointer-events: none;
            }

            &.active {
                cursor: initial;
                pointer-events: initial;
                opacity: 1;

            }
        }

        &.active {
            overflow: hidden;
        }
    }


}

.cesium-credit-textContainer {
    display: none !important;
}

.contact-main {
    position: relative;
    height: 100vh;
    background-color: #e6e6e6;

    #map {
        height: calc(100% - 118px);
        z-index: 0;
        touch-action: none;
    }

    .we-pm-icon {
        background-image: url(../images/point-map.svg);
        margin: 0;
        width: 17px !important;
        height: 17px !important;
        margin-left: -10px !important;
    }
}

div.searchable {
    width: 21%;
    position: relative;
    margin-right: 50px;
    &.with-icon {
        input {
            padding-left: 45px;
        }

        .image-icon {
            position: absolute;
            left: 0;
            top: 0;
            width: 33px;
            height: 33px;
            background-size: contain;
            border-radius: 50%;
        }
    }

    .searcheble-list {
        padding: 26px 21px 0 27px;
        width: 348px;
        position: absolute;
        display: none;
        top: -70px;
        left: 50%;
        transform: translateY(-100%) translateX(-50%);
        border-radius: 10px;
        background-color: #f5f5f5;
    }

    ul {
        display: none;
        @extend .scroll-custom;
        background-color: #f5f5f5;
        width: 100%;
        padding-right: 19px;
        max-height: 545px;
        overflow-y: scroll;

        li {
            cursor: pointer;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(#949494, 0.3);
            padding-bottom: 16px;
            margin-bottom: 14px;

            &:first-child {
                border-top: 1px solid rgba(#949494, 0.3);
                padding-top: 14px;
            }

            &.active {
                display: flex;
            }

            &.not-active {
                display: none;
            }

            img {
                width: 32px;
                height: 32px;
                margin-right: 16px;
            }

            span {
                color: #333333;
                font-family: $fontMain;
                font-size: 12px;
            }
        }
    }
}

.searchable {
    display: flex;
    align-items: center;

    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(#949494, 0.3);
        color: #333333;
        font-family: $fontMain;
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 8px;
        padding-right: 29px;
    }

    &.search-active {
        .searcheble-find {
            opacity: 0;
        }

        .searcheble-close {
            opacity: 1;
        }
    }

    .searcheble-find {
        position: absolute;
        top: 11px;
        right: 0;
        width: 23px;
        height: 22px;
        opacity: 1;
        transition: opacity 150ms ease;

    }

    .searcheble-close {
        cursor: pointer;
        position: absolute;
        top: 22px;
        right: 0;
        width: 31px;
        height: 31px;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 150 ease;


        span {
            width: 50%;
            height: 2px;
            position: absolute;
            background-color: #2a2a2a;
            top: calc(50% - 1px);
            left: 7.8px;

            &:first-child {
                transform: rotate(45deg);
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }

    }

    .notFound {
        position: absolute;
        top: 7px;
        left: 27px;
        display: none;

        &.active {
            display: block;
        }
    }
}

.contact-form-container {
    position: absolute;
    height: 100vh;
    top: 0;
    width: 100%;
    margin: 0%;
    padding: 0 30px;
    padding-top: 160px;
    background-color: #f5f5f5;
    transform: translateY(100%);
    transition: transform 400ms ease;
    z-index: 2;

    &.active {
        transform: translateY(-88vh);
    }

    .btn-close {
        top: 81px;
    }

    form {
        display: flex;
        justify-content: space-between;

        .input-line {
            margin-bottom: 28px;
        }

        .contact-form-left {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 38%;
            align-content: flex-start;

            .input-line {
                width: 100%;

                input {
                    padding-bottom: 9px;
                }
            }

            .w-50 {
                width: 49%;
            }

            .attach-file {
                input {
                    display: none;

                }
                span{
                    max-width: 160px;
                    white-space: nowrap;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                svg {
                    width: 30px;
                    height: 70%;
                    margin-right: 10px;
                }

                .inputfile+label {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 33px;
                }

                .inputfile:focus+label,
                .inputfile+label:hover,
                .inputfile:valid+label {
                    color: $colorGreen;

                    svg {

                        path {
                            fill: $colorGreen;
                        }
                    }
                }
            }
        }

        .contact-form-right {
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-content: flex-start;
            flex-wrap: wrap;

            .w-50 {
                width: 49%;
            }

            .textarea {
                width: 100%;
                margin-bottom: 24px;

                textarea {
                    &::placeholder {
                        color: #333;
                    }
                }
            }

            .lines {
                background-image: linear-gradient(#f5f5f5, #f5f5f5 26px, #ccc 26px, #ccc 27px, #f5f5f5 23px);
                background-size: 100% 28px;
                line-height: 28px;
                height: 137px;
                overflow: hidden;
                color: #333;
                padding-right: 0;
            }


            .select-form-wrap {
                width: 49%;
                .select-custom {
                    .select-selected {
                        background: none;
                        border-bottom: 1px solid #cdcdcd;
                        border-radius: 0;
                        padding-left: 0;

                        &::after {
                            right: 0;
                        }

                        &.select-arrow-active {
                            border-bottom: none;
                        }
                    }

                    .select-items {
                        position: relative;
                        background: none;
                        border-radius: 0;
                        border-bottom: 1px solid #cdcdcd;

                        .select-inner {
                            padding: 0;
                        }

                        .select-item {
                            color: #949494;
                            font-family: $fontMain;
                            font-size: 14px;
                            font-weight: 400;
                            transition: color 300ms ease;
                            border-bottom: 1px solid #cdcdcd;
                            margin-bottom: 16px;

                            &:hover {
                                color: $colorGreen;
                            }
                        }

                    }
                }
                &.office-close{
                    display: none;
                    &.active{
                        display: block;
                    }
                }
            }
        }

        .submit-wrap {
            margin-top: 24px;
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .btn {
                position: relative;

            }
        }


    }

}

@include laptop {
    .contacts-list .contacts-item {
        width: 33%;
    }
}

@include tablet {
    .contact-main {
        min-height: 100vh;
        height: auto;
        overflow: initial;

        #map {
            height: 100vh
        }
    }



    .countrys .countrys-list,
    .countrys .buttons,
    .contact-help {
        display: none;
    }


    .countrys {
        display: flex;
        position: absolute;
        top: auto;
        bottom: 0;
        max-height: 33vh;
        flex-wrap: wrap;
        align-items: flex-start;
        background-color: #f5f5f5;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: all 380ms ease;

        &.active-mob-p {
            max-height: 85vh;
        }

        .countrys-wrap {
            background-color: #f5f5f5;

            .searchable {
                margin-right: 0;
            }
        }

        .searchable {
            position: relative;
            flex-wrap: wrap;
            width: 100%;


            .searcheble-find {
                top: 0px;
            }

            .searcheble-close {
                top: 15px;
            }

           
            input {
                background-color: #f5f5f5;
                padding-top: 7px;
                margin-bottom: 42px;
                padding-bottom: 23px;
                transition: padding 200ms ease;
            }

            ul {
                background: none;
                max-height: initial;
                overflow: initial;
            }

            .notFound {
                position: static;
            }
        }

        &.active-mob {
            height: 50vh;
            overflow: scroll;
            // transform: translateY(-50vh);
        }

        .contacts-list {
            position: static;
            display: none;
            background: white;
            flex-wrap: wrap;
            padding: 0 21px;
            height: auto;
            background-color: #f5f5f5;

            &.active {
                display: flex;
                transform: translateY(-1px);
            }

            &.active.non_active {
                li {
                    display: none;
                }

                .active {
                    width: 100%;
                    display: flex;
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }

            .contacts-item {
                position: static;
                width: 50%;
                max-width: 50%;
                margin-bottom: 33px;
            }
        }

    }

    .contact-form-container {
        position: relative;
        display: none;
        height: auto;
        max-height: 70%;
        z-index: 5;

        &.active {
            display: block;
            transform: translateY(-1px);
        }

        form {
            flex-wrap: wrap;

            .contact-form-right {
                width: 100%;
            }

            .contact-form-left {
                width: 100%;
            }
        }

        .btn-close {
            top: -119px;
            right: 20px;
        }
    }



    div.searchable .searcheble-list {
        position: static;
        transform: none;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        background: none;

        .searchable-result {
            position: relative;
            width: 100%;
            margin-bottom: 29px;

            &::after {
                @include tr-bottom(3px, 3px, 3px, $colorText);
                content: "";
                position: absolute;
                left: 50px;
                top: 5px;
                display: block;
            }
        }
    }

    .form-active {
        .countrys {
            min-height: 83vh;

            .searchable {
                display: none;
            }

            .countrys-wrap {
                padding-top: 40px;
                padding-bottom: 0;
            }
        }

        .contacts-list .contacts-item img {
            width: 65px;
            height: 65px;
            min-width: 65px;
            min-height: 65px;
        }

        .contact-form-container {
            padding-top: 50px;
            padding-bottom: 84px;

            .select-custom .select-items {
                position: static;
            }

            form {
                .input-line {
                    margin-bottom: 58px;
                }

                .attach-file {
                    position: absolute;
                    bottom: 22px;
                    transform: translateY(100%);

                    svg {
                        width: 24px;
                        height: 30px;
                        margin-right: 10px;
                    }
                }

                .contact-form-right .lines {
                    height: 139px;
                }

                .contact-form-right .w-50 {
                    width: 100%;
                }

                .btn {
                    bottom: -20px;

                    .arrow {
                        border-color: transparent transparent transparent #f5f5f5;
                    }

                    span {
                        color: #f5f5f5;
                    }

                    &::after {
                        background-color: #0b989d;

                    }
                }
            }

            &.active {}
        }
    }
}

@include mobile {
    .contact-form-container form .contact-form-left .w-50 {
        width: 100%;
    }

    .form-active .contact-form-container {
        padding-bottom: 175px;

        form {
            .contact-form-right .lines {
                height: 335px;

            }

            .attach-file {
                bottom: 40px;
            }

            .btn {
                bottom: -90px;
            }
        }
    }

    .countrys .contacts-list .contacts-item {
        width: 100%;
        max-width: 100%;

        .text {
            width: 70%;
            max-width: 70%;
        }

        padding-bottom: 33px;
        border-bottom: 1px solid rgba(#707070, 0.2);
    }
}