/* =========================
    Sites
   ========================= */
.sites-tab-top {
    position: sticky;
    top: 0;
    margin-bottom: 108px;
    z-index: 100;
    background: #f5f5f5;

    .country-tab-wrap {
        padding: 0 10px;
    }
}

.sites-tab-block {
    overflow: hidden;
}


.chart-wrap{
    .slide-empty {
        display: none !important;
    }
    
    .slide-without {
        border-bottom: none !important;
    }
    
    .slider-row {
        transition: transform 0.4s;
        white-space: nowrap;
    
        .slide {
            display: inline-block;
            width: 25%;
            border-bottom: 1px solid rgba(#949494, 0.3);
         
    
            .year-slider {
                cursor: pointer;
                display: block;
                padding-bottom: 16px;
                width: fit-content;
                transform: translateX(-50%);
                font-family: $fontMedium;
    
                &::after {
                    position: absolute;
                    content: "";
                    top: 25px;
                    left: 50%;
                    height: 15px;
                    width: 1px;
                    background: #dadada;
                }
            }
        }
    }
}

.years-sites {
    font-size: 14px;
    font-weight: 400;
    color: $colorTextG;

    .blc {
        letter-spacing: 3px;
    }
}

.sites-screen {
    .screen-content h1.ttl {
        font-size: 80px;
        max-width: 429px;
        line-height: 72px;
        margin-bottom: 14px;
    }

    .screen-bg {
        &::after {
            background-image: linear-gradient(to top, rgba(#000000, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }

    .layout-col-l {
        display: flex;
        align-items: flex-end;
    }

    .layout-col-r {
        display: flex;
        align-items: flex-end;

    }

    .screen-content,
    .years-sites {
        position: static;
        min-height: auto;
        width: 100%;
        margin-bottom: 21vh;
        transform: none;
    }

    .years-sites {
        color: #e6e6e6;
        padding-bottom: 36px;
    }

    .screen-content--slog {
        position: static;
        // font-family: $fontMain;
        color: $colorPanel;
    }

    .screen-content--ttl-s {
        p {
            color: #e6e6e6;
        }
    }
}

.sites-ttl-row {

    .country-tab-wrap {
        display: flex;
        align-items: flex-end;

        .country-count {
            width: 9%;
        }

        .country-tabs {
            width: 100%;


            ul {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid rgba(#949494, 0.3);
                padding: 25px 0;

                li {
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    width: 100px;
                    text-align: center;
                    opacity: 0.5;
                    transition: opacity 300ms ease;

                    &.active,
                    &:hover {
                        opacity: 1;
                    }

                    img {
                        display: block;
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        margin: 0 auto 18px;
                        border-radius: 50%;
                    }
                }

            }
        }
    }
}

.st-top-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;

    .st-top-country {
        display: flex;
        align-items: center;

        img {
            display: block;
            width: 80px;
            height: 80px;
            margin-right: 34px;
        }

        h1 {
            margin-bottom: 0;
        }
    }

    .st-top-country-history {
        width: 183px;
        max-width: 100%;

        p {
            font-family: $fontMain;
            font-size: 14px;
            font-weight: 400;
            text-align: right;

            &.text {
                color: $colorText2;

            }


        }
    }
}

.sites-chart {
    // overflow: scroll;
    margin-bottom: 92px;
    .carosuel-text {
        position: absolute;
        padding-left: 21px;
        left: 0;
        top: 0;
    
        &::after,
        &::before {
            position: absolute;
            content: "";
            left: 0;
        }
    
        &::after {
    
            top: 0;
            width: 1px;
            height: 132px;
            background: #dadada;
        }
    
        &::before {
            top: 132px;
            width: 13px;
            height: 13px;
            background-color: #1c989c;
            border-radius: 50%;
            transform: translateX(-50%);
        }
    
        .carosuel-text-inner {
            position: absolute;
            visibility: hidden;
            color: #333333;
            font-family: $fontMain;
            white-space: nowrap;
    
            &.active {
                visibility: visible;
    
            }
    
            &.nextAnim {
                animation: nextFade 0.4s forwards;
            }
    
            &.prevAnim {
                animation: prevFade 0.4s forwards;
            }
    
        }
    }
    
    .carosuel {
        padding-top: 163px;
    }
    
}

.chart-wrap {
    margin-bottom: 99px;

    .chart-title {
        padding-top: 262px;
    }
}

.sites-chart-list {
    width: 265px;
    max-width: 100%;
    color: $colorText2;
    padding-left: 14px;

    li {
        margin-bottom: 18px;
    }
}

.chart-wrap .video-section {
    margin-bottom: 85px;
}

// .video-sites {
//     position: relative;
//     width: 100%;
//     max-width: 100vw;
//     height: 482px;
//     margin-bottom: 84px;
//     border-radius: 25px;
//     overflow: hidden;

//     img {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;

//     }

//     &::before {
//         position: absolute;
//         content: "";
//         right: 0;
//         left: 0;
//         z-index: 1;
//         height: 319px;
//         max-height: 100%;
//         bottom: 0;
//         background-image: linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 100%);
//         opacity: 0.8;
//     }

//     .video-site-panel {
//         position: relative;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         padding: 29px 0;
//         color: $colorBg;
//         z-index: 2;

//         .top-text {
//             width: 126px;
//             max-width: 100%;
//         }

//         h5 {
//             font-size: 14px;
//             opacity: 0.8;
//         }
//     }
//     .play-button-wrap {
//         position: absolute;
//         top: 50%;
//         left: 0%;
//         transform: translateX(0)  translateY(-50%);
//         transition: all 300ms ease;
//     }
//      &:hover .play-button-wrap {
//         top: 50%;
//         left: 50%;
//         transform: translateX(-50%)  translateY(-50%);
//     }
// }

.site-info {
    margin-bottom: 128px;

    .layout-col-l {
        padding-top: 94px;
    }

    .layout-col-r {
        position: relative;

        &::after {
            position: absolute;
            content: attr(data-text);
            right: 0;
            top: 94px;
            width: 66px;
            text-align: right;
            color: #333333;
            font-family: $fontMain;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .site-info-icon {
        margin-bottom: 21px;

        img {
            width: 63px;
            height: 63px;
        }
    }

    h2 {
        margin-bottom: 18px;

    }

    h2,
    .site-info-top-text {
        width: 265px;
        max-width: 100%;
    }

    .site-info-top-text {
        margin-bottom: 77px;

    }

    .site-info-row {
        display: flex;
        flex-wrap: wrap;

        .site-info-col {
            width: 241px;
            max-width: 100%;
            margin-right: 214px;

            img {
                margin-bottom: 27px;
            }

            &:last-child {
                margin-right: 0;
            }

            img {
                width: 38px;
                height: 38px;
            }

            p {
                color: $colorText2
            }
        }
    }
}

.sites-fader-wrap {
    border-radius: 25px;
    background-color: #e6e6e6;

    margin-bottom: 114px;

    .slider {
        height: 155px;
        min-height: fit-content;
    }

    // Fader
    .sites-fader {
        padding-top: 33px;
        padding-bottom: 142px;

        .slider-dots {
            width: 100%;
            margin-bottom: 100px;
        }

        .slider-dots li {
            min-width: 210px;

        }

        .slides {
            height: 175px;
            min-height: fit-content;
        }

        .slide {
            display: flex;
            align-items: center;

            .col-left {
                width: 423px;

                p {
                    color: $colorTextG;
                }
            }

            .col-right {
                width: 241px;

                p {
                    color: $colorText2;
                }
            }
        }
    }
}

.menegment-wrap {
    // justify-content: space-between;
    // margin-bottom: 125px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 170px;
    padding-bottom: 30px;

    h4 {
        grid-row: 1 / 3;
    }

    p {
        grid-row: 3/span 1;
        grid-column: 3;
    }

    /*     .menegment-col {
        width: 452px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
 */
    .menegment-item {
        width: 100%;
        max-width: 100%;
        margin-bottom: 82px;

        &:last-child {
            margin-bottom: 0;
        }

        h3 {
            display: flex;
            align-items: center;
            margin-bottom: 13px;
        }

        .menegment-item-text {
            color: $colorText2;
            font-family: $fontMain;
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 3px;
            border-bottom: 1px solid rgba(#949494, 0.3);
        }
    }

    .menegment-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: $colorGreen;
        color: $colorBg;
        font-family: $fontMain;
        font-size: 11px;
        text-transform: uppercase;
        border-radius: 50%;
        margin-right: 10px;
    }

    .menegment-tx {
        width: 175px;
        max-width: 100%;
        color: $colorText2;
        padding-top: 20px;
    }
}

.sites-cases {
    margin-bottom: 65px;

    .media-stream--col-l {
        padding-top: 0;
    }
}

@include macbook {
    .menegment-wrap {
        grid-column-gap: 124px;
    }
}

.mob-d {
    display: none;
}



@include tablet {
    .sites-tab-top {
        position: static;

    }

    .st-top-title {
        margin-bottom: 118px;
    }

    .st-top-title .st-top-country h1 {
        font-size: 35px;
        font-weight: 400;
    }

    .sites-ttl-row {
        overflow: hidden;

        .country-tab-wrap {
            padding: 0;

            .country-tabs ul {
                padding: 25px 25px;
                overflow-x: scroll;

                li {
                    width: 140px;
                    min-width: 140px;

                    &:first-child {
                        min-width: 100px;
                    }

                    .tab-inner {
                        // width: fit-content;
                        text-align: center;

                    }
                }
            }
        }
    }

    .mob-d {
        display: block;
    }

    .sites-screen.screen-head {
        .hint-from-top {
            right: 0;
            left: auto;
        }

        .button-btm-right {
            right: auto;
            left: 21%;
        }

        .years-sites {
            margin-bottom: 11px;
        }

        .layout-col-l {
            display: none;
        }
    }

    .st-top-title .st-top-country {
        width: 21%;
        transform: translateX(100%);

        img {
            display: none;
        }
    }

    .chart-carosuel {
        .layout-col-l {
            width: 21%;

            .slider-buttons-c {
                display: none;
            }

            .chart-title {
                font-weight: 500;
                padding-top: 300px;
                transform: translateX(100%);
            }
        }

        .layout-col-r {
            width: calc(100% - 21%);
        }

        .sites-chart {
            position: relative;
            margin-bottom: 130px;

            .swipe-hint {
                right: auto;
                top: auto;
                bottom: -50px;
            }
        }
    }

    // .video-sites {
    //     .layout-col-r {
    //         width: calc(100% - 21%);
    //     }

    //     &::before {
    //         height: 482px;
    //     }
    // }

    .site-info {
        margin-bottom: 144px;

        .layout-col-l {
            width: 21%;
        }

        .layout-col-r {
            width: calc(100% - 21%);

            &::after {
                top: 170px;
            }
        }

        .site-info-row {
            .site-info-col {
                margin-bottom: 48px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .sites-fader-wrap {
        .sites-fader {
            padding-bottom: 106px;

            .swipe-hint {
                top: 15px;
            }

            .slides {

                overflow: visible;
            }

            .slider-dots {
                margin-bottom: 153px;
            }

            .slide {
                flex-direction: column;
                flex-wrap: nowrap;

                .col-left,
                .col-right {
                    width: 417px;
                    max-width: 100%;

                    h2 {
                        font-size: 35px;
                    }
                }

                .col-left {
                    margin-bottom: 40px;
                }

                .col-right {
                    position: relative;


                    .icon {
                        top: -85px;
                        transform: translateY(-100%);
                    }

                    p {
                        column-count: 2;
                        column-gap: 26px;
                    }
                }
            }
        }
    }

    .menegment-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: unset;
        grid-column-gap: 16px;

        h4 {
            grid-row: auto;
        }

        p {
            grid-row: auto;
            grid-column: auto;
        }

        h4 {
            grid-column: 1 / -1;
            margin-bottom: 69px;

        }


    }

    .sites-cases {
        .media-stream--col-l {
            padding-top: 31px;
        }
    }
}

@include mobile {
    .screen-bg {
        background-position: 60% 0%;
    }

    .sites-tab-top {
        margin-bottom: 28px;
    }

    .st-top-title {
        margin-bottom: 48px;
    }

    .sites-ttl-row {
        .country-tab-wrap .country-tabs ul li {
            img {
                width: 35px;
                height: 35px;
            }

            &:first-child {
                min-width: 115px;
            }

            min-width: 150px;
        }
    }

    .sites-screen {
        &.screen-head {
            .button-btm-right {
                right: auto;
                left: 0;

                a.btn:nth-child(1) {
                    width: 100%;
                }
            }


        }

        .screen-content--ttl-s {
            display: flex;
            flex-direction: column;
            margin-bottom: 82px;

            h1 {
                order: 0;
                margin-bottom: 24px;
            }

            p {
                order: 1;

            }

            .years-sites {
                order: 1;
                margin-bottom: 0;
            }
        }

        .screen-content {
            margin-bottom: 0;

            h1.ttl {
                font-size: 50px;
                max-width: 100%;
                line-height: 47px;
            }
        }
    }

    .chart-carosuel {
        .layout-col-r {
            width: 100%;
        }

        .sites-chart {
            margin-left: 21%;
        }
    }

    .st-top-title {
        display: flex;
        flex-direction: column;

        .st-top-country {
            margin-bottom: 19px;
            width: 100%;
        }

        .st-top-country {
            transform: translateX(0);
        }

        .years-sites {
            display: none;
        }

        .st-top-country-history .text {
            text-align: left;
        }
    }

    .chart-wrap {
        margin-bottom: 55px;
    }

    .site-info {
        margin-bottom: 106px;
    }

    .sites-fader-wrap {
        margin-bottom: 45px;
    }

    .chart-carosuel {
        .layout-col-l {
            width: 0;

            .chart-title {
                white-space: nowrap;
            }
        }
    }

    // .video-sites {
    //     .layout-col-l {
    //         width: 0;
    //     }

    //     .layout-col-r {
    //         width: 100%;
    //     }
    // }

    .site-info {
        .site-info-row .site-info-col {
            margin-right: 0;
        }

        .layout-col-l {
            display: none;
        }

        .layout-col-r {
            width: 100%;

            &::after {
                display: none;
            }

            h2 {
                font-size: 35px;
            }
        }
    }

    .sites-fader-wrap {
        .sites-fader {
            padding-bottom: 145px;

            .slider-dots {
                margin-bottom: 140px;

                li {
                    min-width: 158px !important;
                }
            }

            .layout-col-r {
                position: static;

            }

            .slide .col-right {

                p {
                    width: 323px;
                    max-width: 100%;
                    column-count: 1;
                    column-gap: 0;
                }
            }

            .swipe-hint {
                bottom: 47px;
                top: auto;
                left: 0;
                right: auto;
            }
        }
    }

    .menegment-wrap {
        grid-template-columns: 1fr;

        .menegment-item {
            margin-bottom: 44px;
        }
    }
}