/* =========================
    Search
   ========================= */
.search-close {
    @extend .ctrVert;
    position: absolute;
    top: 30px;
    right: -8px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    z-index: 1001;

    span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        transition: transform 0.2s, width 0.25s;
        background-color: $colorText;

        &:nth-child(1) {
            top: 10px;
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            top: 10px;
            transform: rotate(-45deg);
        }
    }



}



.search-open {
    position: relative;
    overflow: hidden;
}

.search-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    overflow-y: auto;
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms ease;
transform: translateY(-100%);
    &.open {
        display: block;
        z-index: 1001;
        opacity: 1;
        transform: translateY(0);
    }
}

.search-socket {
    flex-wrap: wrap;
    padding-top: 90px;
    margin-bottom: 206px;
    text-align: left;

    .finded-text {
        background: #88c6c8;
        color: #333;
        border-radius: 3px;
        padding: 4px 3px;
        font-family: inherit;
    }

    &.search-find {
        margin-bottom: 0;

        .search-form {
            margin-bottom: 120px;
        }
    }

    &.search-not-find {
        .not-found-text {
            display: flex;
            align-self: center;
            margin-bottom: 185px;

            .icon {
                width: 49px;
                height: 58px;
                // margin-bottom: 33px;
                margin-right: 28px;
            }

            h3 {
                color: #dbdbdb;
                align-self: center;
            }
        }
    }

    .text-search {
        display: block;
        margin-top: 103px;
        color: #949494;
        font-size: 14px;
        font-weight: 400;
        text-align: left;

        &-find {
            color: $colorTextL;
            font-weight: 400;

            .green {
                color: #1c989c;
                font-family: $fontMain;
                font-weight: 300;
            }
        }

        &-not-find {
            color: #666666;
        }
    }

    .bottom-text {
        display: flex;
        width: 912px;
        justify-content: space-between;

        ul {
            width: 313px;

            li {
                margin-bottom: 22px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            h4 {
                color: #333333;
                font-weight: 400;
                padding-bottom: 12px;
                border-bottom: 1px solid rgba(#949494, 0.3);
            }

            a {
                color: #595a5a;
                font-family: $fontMain;

                &:hover {
                    color: $colorGreen;
                }
            }
        }
    }

    .media-stream--col-l {
        padding-bottom: 0;
    }

    .media-stream--article {
        padding-bottom: 35px;
        border-bottom: 1px solid rgba(#707070, 0.3);

        .media-content .tags-list {
            display: flex;
        }
    }



    //Need to change content 
    .media-stream--col-l {
        display: none;

    }

    .not-found-text {
        display: none;
    }

    .text-search-find,
    .text-search-not-find {
        display: none;
    }

    &.search-find {
        .media-stream--col-l {
            display: block;
        }

        .text-search {
            display: none;
        }

        .text-search-find {
            display: block;
        }

        .bottom-text {
            display: none;
        }
    }

    &.search-not-find {
        .not-found-text {
            display: flex;
        }

        .text-search {
            display: none;
        }

        .text-search-not-find {
            display: block;
        }
    }

}

.search-form {
    margin-bottom: 164px;

    .input-line {
        position: relative;
    }

    .input-line input,
    .hidden-width {
        position: relative;
        font-size: 80px;
        letter-spacing: -2.8px;
        padding-bottom: 19px;
        font-weight: 300;
    }

    .input-line input {
        padding-right: 40px;
    }

    .clear-input {
        cursor: pointer;
        position: absolute;
        top: calc(50% - 10px);
        left: 100px;
        width: 31px;
        height: 31px;
        opacity: 1;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 50%;
        transform:  translateY(-50%);
        transition: opacity 300ms ease, z-index 300ms ease;

        &.hide {
            opacity: 0;
            z-index: -1;
        }

 
        span {
            width: 50%;
            height: 2px;
            position: absolute;
            background-color: #2a2a2a;
            top: calc(50% - 1px);
            left: 8.8px;
            // transform: translate(-50%, -50%);

            &:first-child {
                transform: rotate(45deg);
            }
            &:last-child{
                transform: rotate(-45deg);
            }
        }
       

    }
}

.hidden-width {
    position: absolute !important;
    display: inline-block;
    opacity: 0;
    overflow: auto;
    white-space: nowrap;
    width: auto;
    height: 0 !important;
    min-height: 0px !important;
    max-height: 0px !important;
    max-width: calc(100% - 60px);
    padding-bottom: 0 !important;
    visibility: hidden;
}

@include macbook {
    .search-socket {
        .bottom-text {
            width: 634px;

            ul {
                width: 208px;
            }
        }
    }
}

@include tablet {
    .search-close {
        top: 29px;
        right: -5px;
        width: 24px;
        height: 24px;
    }

    .search {
        .layout-col-r {
            position: static;
        }
    }

    .search-form {
        position: absolute;
        left: 0;
        width: 100%;
        top: 80px;

        .input-line {
            position: relative;
            padding-right: 0;
        }

        .input-line input,
        .hidden-width {
            font-size: 35px;
            padding-bottom: 15px;
        }

        .clear-input {
            display: none;
        }
    }

    .search-socket {
        margin-bottom: 176px;
        padding-top: 230px;

        .text-search {
            display: none;
        }

        .bottom-text {
            flex-wrap: wrap;
            width: 100%;

            ul {
                width: 100%;
                margin-bottom: 116px;

                &:last-child {
                    margin-bottom: 0;
                }

                h4 {
                    padding-bottom: 0;
                    border-bottom: none;
                }

                li {
                    margin-bottom: 42px;

                    &:first-child {
                        margin-bottom: 58px;
                    }

                    a {
                        display: block;
                        width: 100%;
                        padding-bottom: 13px;
                        border-bottom: 1px solid rgba(#707070, 0.5);
                    }
                }
            }
        }
    }
}

@include mobile {
    .search-close {
        top: 29px;
    }

    .search-socket {
        .layout-col-l {
            display: none;
        }

        .layout-col-r {
            width: 100%;

        }
    }

    .search-form {
        top: 71px;

        .input-line input {
            padding-right: 0;
            // border-right: 1px solid #cdcdcd;
            // width: 90%;
        }

        .input-line input,
        .hidden-width {
            padding-bottom: 9px;
        }

    }

    .search-socket {
        margin-bottom: 201px;
        .bottom-text {
            padding-bottom: 100px;
        }
        .bottom-text {

            ul {
                margin-bottom: 126px;
            }
        }
    }
}