/* =========================
    Events
   ========================= */

.title-top {
    height: 415px;
    padding: 105px 0 30px;

    .ttl {
        margin-left: -5px;

        @include laptop {
            font-size: 50px;
            line-height: 44px;
        }
    }
}

.btn-back {
    min-width: 112px;
}

.event-section-main {
    height: 667px;
    margin-bottom: 0 !important;

    .screen-content--ttl-s {
        align-self: flex-end;
    }

    .screen-content--type-s,
    .screen-content--date-s {
        padding-bottom: 5px;
    }

    .screen-content {
        .ttl {
            max-width: 370px;
        }
    }

    .now-flag {
        top: 60px;
        left: 0;
    }

    .btn {
        min-width: 147px;
    }
}

div.border-rad-btm {
    border-radius: 0 0 25px 25px;
}

div.border-rad-top {
    border-radius: 25px 25px 0 0;
}

@media screen and (max-width: 960px) {
    .event-section-main {
        height: 830px;

        .socket {
            margin: 0 25px;
        }

        .now-flag {
            display: none;
        }

        .screen-inner .layout-col-r {
            width: calc(100% - #{$left-col-width});
        }

        .screen-content {
            .ttl-2 {
                max-height: 380px;
            }
        }

        .screen-content--ttl-s {
            width: 100%;
            margin-bottom: 65px;
        }

        .screen-content--slog {
            position: static;
            width: 100%;
            padding-right: calc(100% - 155px);
            text-align: left;
            margin-bottom: 115px;
        }

        .screen-content--type-s {
            width: 52%;
            text-align: center;
            order: 2;
        }

        .screen-content--date-s {
            width: 48%;
            justify-content: space-between;
            order: 1;

            .place {
                margin-right: 0;
            }
        }

        .button-btm-right {
            bottom: 30px;
        }
    }

    .event-section-main {
        .simple-col {
            padding-bottom: 55px;

            .now-flag {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .title-top {
        height: auto;
        padding-top: 95px;

        .ttl {
            line-height: 47px;
            margin-bottom: 107px;
        }
    }
}

@include mobile {
    .title-top {
        padding-top: 85px;
        padding-bottom: 40px;

        .layout-col-l {
            display: none;
        }

        .layout-col-r {
            width: 100%;
        }

        .ttl {
            font-size: 35px;
            margin-left: -2px;
            line-height: 34px;
            margin-bottom: 0;
        }

        .hint-from-top {
            display: none;
        }
    }

    .title-top--mob-ver {
        padding-bottom: 12px;

        .ttl {
            margin-bottom: 90px;
        }

        .hint-from-top {
            display: block;
        }
    }

    .event-section-main {
        height: 690px;
        margin: 0;
        // background-position: 5% 0;

        .screen-inner {
            min-height: auto;

            .layout-col-r {
                width: 100%;
                padding-bottom: 0;
            }
        }

        .screen-content--ttl-s {
            width: 75%;
        }

        .screen-content--slog {
            padding-right: calc(100% - 105px);
            margin-bottom: 80px;
        }

        .screen-content--date-s {
            width: 100%;
        }

        .button-btm-right {
            left: 0;
            display: flex;
            justify-content: space-between;

            .btn:nth-child(1) {
                width: 62%;
                min-width: auto;
            }

            .btn:nth-child(2) {
                width: 33%;
                margin-left: 0;
                padding-left: 15px;
                min-width: auto;
            }
        }
    }
}

// Content
.event-month-container {
    margin-bottom: 200px;

    &:last-child {
        margin-bottom: 0;
    }
}

.media-stream {

    &--events,
    &--cases {
        .media-stream--col-l {
            padding-top: 50px;
        }

        .media-stream--col-r {
            padding-top: 100px;
        }
    }

    &--cases {
        .media-stream--col-l {
            padding-bottom: 20px;
        }
    }
}


.media-stream--categories-ttl-sticky,
.media-stream--categories-ttl-b {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 11px 0;
    background-color: $colorBg;
    z-index: 100;

    &::after {
        @extend .ps;
        height: 1px;
        top: auto;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $colorBorder;
    }

    .items {
        font-size: 12px;
        color: $colorGreen;
        align-self: center;
    }
}

.media-stream--categories-ttl-sticky {
    position: sticky;
    top: 0;
    left: 0;
    transition: background-color 0.3s;
}

.events-cal {

    &--wrap {
        display: flex;
        position: relative;
        padding-top: 85px;
        margin-bottom: 110px;
    }

    &--item {
        width: 25%;
        position: relative;

        // &:last-child {
        //     width: 22%;
        // }

        .button-next {
            display: none;
        }

        &.is-now {
            .events-cal--content .now-flag {
                display: block;
            }

            .date-range {
                color: $colorGreen;

                .date-start::after {
                    background-color: $colorGreen;
                }
            }
        }
    }

    &--date {
        position: relative;
        height: 210px;

        .date-range {
            margin-bottom: 42px;
        }
    }

    &--item:first-child .events-cal--date::after {
        @extend .ps;
        bottom: 0;
        top: auto;
        left: 0;
        width: 400%;
        height: 1px;
        background-color: $colorBorder;
    }

    &--content {
        position: relative;
        padding-top: 75px;

        .now-flag {
            position: absolute;
            top: 28px;
            left: 0;
            display: none;
        }

        .ttl {
            width: 55%;
            min-height: 100px;
            margin-bottom: 12px;
        }

        .month {
            position: absolute;
            top: -74px;
            left: 0;
        }
    }
}

@include tablet {

    .media-stream--events {

        .media-stream--col-l {
            padding-top: 100px;
        }
    }

    .media-stream--categories-ttl-b {
        justify-content: flex-start;

        .items {
            margin-left: 13px;
        }
    }

    .events-cal {

        &--wrap {
            flex-wrap: wrap;
            padding-top: 0;
            margin-bottom: 20px;
        }

        &--item {
            display: flex;
            width: 100%;
            padding: 60px 0 60px;
            border-bottom: 1px solid $colorBorder;

            &:last-child {
                width: 100%;
                border: none;
            }

            .button-next {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                display: block;
            }

            &:first-child .events-cal--date::after {
                display: none;
            }
        }

        &--date {
            width: 30%;
            padding-top: 13px;
            height: auto;

            .date-range {
                margin-bottom: 0;
            }
        }

        &--content {
            width: 70%;
            padding-top: 0;

            .now-flag {
                top: -43px;
            }

            .ttl {
                width: 250px;
                min-height: auto;
                margin-bottom: 31px;

                span {
                    padding-top: 13px;
                }
            }

            .month {
                position: static;
            }

            &--ym {
                display: flex;

                .year {
                    margin-right: 45px;
                }
            }
        }

    }
}

@include mobile {

    .media-stream--categories-ttl-sticky {
        // display: none;
        margin: 0 -25px;
        padding-left: 25px;
        padding-right: 25px;

        &:after {
            left: 25px;
            right: 25px;
        }

        &.fixed {
            background-color: $colorPanel;
        }
    }

    .media-stream--events,
    .media-stream--cases {
        .filter-sidebar {
            top: 30px;
        }
    }

    .media-stream--events {
        .media-stream--col-l {
            padding-top: 130px;
        }
    }

    .events-cal {

        &--wrap {
            margin-bottom: 0;
        }

        &--item {
            padding: 40px 0;
            flex-wrap: wrap;

            .button-next {
                display: none;
            }

            &.is-now {
                .date-range {
                    color: $colorText;

                    .date-start::after {
                        background-color: $colorText;
                    }
                }
            }
        }

        &--date {
            width: 100%;
            padding-top: 0;
            margin-bottom: 43px;
        }

        &--content {
            position: static;
            width: 100%;

            .now-flag {
                display: none !important;
            }

            .ttl {
                width: 200px;
            }

            .city {
                margin-bottom: 0;
            }

            &--ym {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                right: 0;
                top: 36px;
                bottom: 40px;
                text-align: right;
                z-index: 1;

                .year {
                    margin-right: 0;
                }
            }
        }
    }
}

@include mobile-min {
    .media-stream--categories-ttl-sticky {
        margin: 0 -20px;
        padding-left: 20px;
        padding-right: 20px;

        &:after {
            left: 20px;
            right: 20px;
        }
    }
}

// Events Section
.event-section {

    .event-section-content {
        position: relative;
        padding: 20px 20px 20px 50px;

        .desc-row {
            .ttl {
                width: 500px;
                max-height: 195px;
            }
        }

        .btn-more {
            min-width: 150px;
        }
    }
}

.media-stream {

    &--bbox-top {
        border-top: 1px solid $colorBorder;
        padding-top: 60px;
    }

    &--bbox {
        border-bottom: 1px solid $colorBorder;
        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }

        .media-stream--article {
            margin-bottom: 0;
            border: none;
        }
    }

    &--article.event {
        padding-bottom: 40px;

        .media-content {
            position: relative;
            margin-top: 60px;
            padding-top: 0;
            padding-left: 308px;

            .date-range {
                position: absolute;
                top: 0;
                left: 0;
            }

            .ttl {
                width: auto;
                height: auto;
                max-height: 175px;
                padding-right: 50px;
                margin-bottom: 18px;

                span {
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 1900px) {

    .event-month-container {
        margin-bottom: 125px;
    }

    .event-section {
        margin-bottom: 45px;

        .event-section-content {

            .desc-row {
                .ttl {
                    width: 40%;
                }
            }
        }
    }

    .media-stream {

        &--bbox-top {
            padding-top: 50px;
        }

        &--bbox {
            margin-bottom: 70px;
        }

        &--article.event {
            padding-bottom: 25px;

            .media-content {
                padding-left: 200px;
            }
        }
    }
}


@media screen and (min-width: 1151px) and (max-width: 1440px) {
    .events-cal {

        &--date {
            height: 145px;

            .date-range {
                margin-bottom: 28px;
            }
        }

        &--content {
            .month {
                top: -41px;
            }

            .ttl {
                width: 75%;
            }
        }
    }
}

@include tablet {

    .event-section {
        margin-bottom: 30px;

        .event-section-content {
            padding-left: 20px;

            .desc-row {

                .ttl {
                    font-size: 35px;
                    line-height: 37px;
                }
            }
        }
    }

    .media-stream {

        &--bbox-top {
            padding-top: 30px;
        }

        &--events,
        &--cases {
            .media-stream--col-l {
                padding-bottom: 100px;
            }

            .media-stream--col-r {
                padding: 0;
            }

            .filter-sidebar {
                padding-top: 30px;
            }
        }

        &--article.event {
            padding-bottom: 35px;

            .media-content {
                margin-top: 38px;
                padding-left: 127px;

                .date-range {
                    @include dataRangeTbl;
                }

                .ttl {
                    width: 270px;
                    padding-right: 0;
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {

    .event-month-container {
        margin-bottom: 95px;
    }

    .media-stream {



        &--bbox {
            margin-bottom: 0;
            border: none;
        }

        &--bbox-top {
            border-top: 1px solid $colorBorder;
        }

        &--article.event {
            padding-bottom: 40px;
            margin-bottom: 60px;
            border-bottom: 1px solid $colorBorder;

            &:last-child {
                margin-bottom: 0;
            }

            .media-content {
                padding-left: 30%;
            }
        }
    }
}

@include mobile {
    .media-stream {

        &--events {

            .filter-sidebar {
                top: 40px;
                padding-top: 0;
            }

            .media-stream--col-l {
                padding-top: 160px;
            }
        }

        &--article.event {

            .media-content {
                padding-left: 115px;

                .ttl {
                    width: auto;
                    padding-right: 25px;
                }

                .date-range {
                    @include dataRangeMob;
                    top: 27px;
                }
            }
        }
    }

    .event-section {
        .event-section-content {
            padding: 25px;

            .desc-row {
                .ttl {
                    font-size: 30px;
                    line-height: 34px;
                    width: 65%;
                    max-height: 235px;
                }
            }
        }
    }
}