/* =========================
    Solution Open
   ========================= */

.solution-p-filter-row {
    display: flex;
    justify-content: space-between;

    .solution-p-filters {
        display: flex;
    }

    .solution-p-select {
        height: 100%;
        display: flex;
        align-self: baseline;
        padding-bottom: 17px;

        .select-custom {
            align-self: flex-end;
        }
    }
}

.solution-p-filter {
    margin: 0 82px 0 0;

    &:last-child {
        margin-right: 0;
    }

    &--buttons {
        display: flex;
    }

    &--label {
        width: 100%;
        margin-bottom: 11px;
    }

    &--button {
        min-width: 66px;
        height: 29px;
        cursor: pointer;
        text-align: center;
        margin: 0 17px 17px 0;

        &:last-child {
            margin-right: 0;
        }

        span {
            display: block;
            height: 100%;
            padding: 0 13px;
            line-height: 31px;
            border-radius: 4px;
            background-color: #e5e5e5;
            transition: background-color 0.2s;
        }

        input {
            position: absolute;
            opacity: 0;

            &:checked ~ span {
                background-color: $colorGreen;
                color: #fff;
            }
        }
    }
}

.select-custom-ind {
    width: 155px;
}

// SPECS SECTION
.specs-section {
    height: 655px;
    padding-bottom: 18px;
    background-color: $colorPanel;
    overflow: hidden;

    .hint {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .ttl-2 {
        position: absolute;
        left: 0;
        bottom: 335px;
    }

    .spec-button-wrap {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
    }

    .spec-img {
        position: absolute;
        width: 620px;
        bottom: -18px;
        right: 16%;
        transition: transform 0.2s;
        transform-origin: left bottom;
    }

    &.open {
        .spec-det-block {
            transform: translateX(0);
            opacity: 1;
        }

        .spec-img {
            transform: scale(0.83);
        }
    }
}

.spec-det-block {
    position: absolute;
    left: 0;
    top: 405px;
    max-height: 180px;
    overflow: hidden;
    transition: transform 0.2s $easing, opacity 0.3s;
    transform: translateX(-50px);
    opacity: 0;

    li {
        margin-bottom: 16px;

        span {
            display: inline-block;
            min-width: 213px;
            color: $colorTextG;
        }
    }
}


.spec-button-wrap {
    display: flex;

    .spec-button-label {
        padding-top: 4px;
        margin-right: 30px;
        color: $colorText2;
    }
}

.spec-button {
    position: relative;
    height: 20px;
    line-height: 22px;
    padding-left: 28px;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
        color: $colorGreen;
    }

    i {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 21px;
        height: 21px;
        background-color: #fff;
        border-radius: 50%;

        &::before, &::after {
            @extend .ps;
            @extend .ctr;
            position: absolute;
            background-color: #707070;
            transition: opacity 0.2s;
        }

        &::before {
            width: 7px;
            height: 1px;
        }

        &::after {
            width: 1px;
            height: 7px;
        }
    }

    &.active i::after {
        opacity: 0;
    }
}

@media screen and (max-width: 1500px) {
    .specs-section {
        height: 435px;

        .ttl-2 {
            bottom: 225px;
        }

        .spec-img {
            right: 8%;
            transform: scale(.74);
        }

        &.open {
            .spec-img {
                transform: scale(.63);
            }
        }
    }

    .spec-det-block {
        top: 245px;

        li {
            margin-bottom: 14px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .specs-section {

        .spec-img {
            right: 0;
            transform: scale(.65);
        }

        &.open {
            .spec-img {
                transform: scale(.55);
            }
        }
    }
}

@include tablet {
    .solution-open-page {
        .title-top .ttl {
            margin-bottom: 50px;
        }
    }

    .specs-section {
        height: 750px;
        border-radius: 10px;

        .hint {
            display: none;
        }

        .ttl-2 {
            top: 55px;
            bottom: auto;
        }

        .spec-img {
            right: auto;
            left: 0;
            transform: scale(0.9);
        }

        .spec-button-wrap {
            top: 205px;
            bottom: auto;
            left: 0;
    
            .spec-button-label {
                display: none;
            }
        }

        &.open {
            .spec-img {
                transform: scale(.72);
            }
        }
    }

    .spec-det-block {
        top: 275px;

        li {
            margin-bottom: 11px;
        }
    }

    .spec-button {
        height: 35px;
        padding-left: 49px;
        line-height: 36px;

        i {
            width: 35px;
            height: 35px;

            &::before {
                width: 13px;
                background-color: #2a2a2a;
            }

            &::after {
                height: 13px;
                background-color: #2a2a2a;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .solution-p-filter-row {
        display: block;

        .solution-p-filters {
            display: block;
        }

        .solution-p-select {
            height: auto;
            padding-bottom: 0;
        }

        .solution-p-filter {
            margin-bottom: 10px;
        }
    }

    .specs-section {
        .spec-img {
            left: -45px;
            transform: scale(0.8);
        }

        &.open {
            .spec-img {
                transform: translateX(45px) scale(0.65);
            }
        }
    }
}

@include mobile {
    .specs-section {
        height: 435px;

        .spec-button-wrap {
            display: none;
        }

        .spec-img {
            left: 50%;
            width: 300px;
            transform: translateX(-50%) scale(1);
        }
    }   
}

.prod-object-buttons {
    display: none;
}

// PRDUCT ANIMAATE WRAPPER
.prod-anim-wrap {
    padding-top: 67px;

    .prod-a-desc {
        width: 150px;
    }

    .prod-a-desc {
        position: absolute;
    }

    p {
        color: $colorTextG;
    }
}

.prod-animate-section-1, .prod-animate-section-2 {
    position: absolute;
    left: 0;
    width: 100%;
}

.prod-anim-side {
    position: absolute;
    width: 270px;

    .ttl {
        margin-bottom: 26px;
    }

    p {
        color: $colorTextG;
        margin-bottom: 33px;        
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
        text-align: right;
    }
}

$scaleIn: 1.3;
$scaleCoef: 0.66;

#hybrid-top, #hybrid-mid, #hybrid-btm,
#hybrid-top-1, #hybrid-top-2 {
    position: absolute;
    transition: transform 0.2s $easing;
}

.prod-object-socket {
    position: relative;
    margin: auto;
}

#hybrid-top-1 {
    top: 164px;
    width: calc(517px * #{$scaleCoef});
    height: calc(406px * #{$scaleCoef});
    background: url(../images/obj-hybrid-top.svg) no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}

#hybrid-top-2 {
    top: 140px; 
    left: 16%; 
    width: calc(381px * #{$scaleCoef});
    height: calc(309px * #{$scaleCoef});
    background: url(../images/obj-hybrid-top-2.svg) no-repeat;
    background-size: 100% 100%;
    transform: translate(5px, 7px);
}

#hybrid-mid {
    top: 241px;
    left: 15.3%;
    width: calc(435px * #{$scaleCoef});
    height: calc(987px * #{$scaleCoef});
    background: url(../images/obj-hybrid-mid.svg) no-repeat;
    background-size: 100% 100%;
}

#hybrid-btm {
    top: 1090px;
    left: 12%;
    width: 300px;
    height: 348px;
    background: url(../images/obj-hybrid-btm.svg) no-repeat;
    background-size: 100% 100%;
}

.prod-object-parameters {
    position: absolute;
    z-index: 2;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.7s;

    &.show {
        opacity: 1;
    }
}

.par-item {
    position: absolute;
    display: flex;

    .par-text {
        position: relative;
        white-space: nowrap;
        align-self: flex-start;
        margin: 0 8px;

        div {
            color: $colorTextG;
            margin-bottom: 3px;
        }
    }

    .par-line {
        position: relative;

        svg {
            width: 100%; height: 100%; stroke: #b2b2b2; stroke-width: 1;
        }
    }
}

.prod-animate-section {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.6s;

    .ttl, p, .icon, p {
        transform: translateY(30px);
        transition: transform 0.5s $easing;
    }

    &.show {
        opacity: 1;

        .ttl, p, .icon {
            transform: translateY(0);
        }

        p {
            transition-delay: 0.07s;
        }
    }
}

.prod-a-desc {
    .icon {
        position: relative;
        width: 35px;
        height: 35px;
        margin-bottom: 17px;

        img {
            width: 100%;
            height: 100%;
        }

        .index {
            position: absolute;
            left: 40px;
            top: -11px;
            font-size: 12px;
        }
    }
}

$leftOffset: 270px;

.solution-open-page {

    .prod-anim-wrap {
        min-height: 1700px;
    }
    
    .prod-object-socket, .prod-object-parameters {
        width: calc(517px * #{$scaleCoef});
        height: 500px;
    }

    .prod-object-socket {
        width: calc(517px * #{$scaleCoef});
        left: -40px;
    }

    // Parameters
    .prod-object-parameters {
        top: 125px;
    }

    .par-item-1 {
        top: 0px; left: -162px;

        .par-line {
            top: 24px; width: 127px; height: 68px;
        }
    }

    .par-item-2 {
        top: 60px; left: 196px;

        .par-line {
            top: 15px; width: 136px; height: 119px;
        }
    }

    .par-item-3 {
        top: 341px; left: -347px;

        .par-text {
            top: 79px;
        }

        .par-line {
            top: 0; width: 96px; height: 93px;
        }
    }

    .par-item-4 {
        top: 307px; left: 260px;

        .par-text {
            top: 73px;
        }

        .par-line {
            top: 0; width: 107px; height: 77px;
        }
    }

    // Animate Sections
    .prod-animate-section-1 {
        top: 650px;

        .prod-a-desc {
            top: 105px;
            left: $leftOffset;
        }
    }

    .prod-animate-section-2 {
        top: 1050px;

        .prod-anim-side {
            width: 190px;
        }

        .prod-a-desc {
            width: 140px;
            top: 15px;
            right: 350px;
        }

        .prod-anim-text {
            position: absolute;
            left: $leftOffset;
            top: 290px;
            width: 220px;
        }
    }
}


@include macbook {
    .prod-anim-side {
        width: 190px;
    }

    .solution-open-page {
        .prod-animate-section-1 .prod-anim-side {
            width: 200px;
        }
    }
}

@include tablet {
    .prod-anim-wrap {
        min-height: auto;
        padding-bottom: 170px;
    }

    .prod-anim-side {
        position: static;
    }

    .prod-animate-section, 
    .prod-anim-side.right,
    .prod-object-parameters {
        display: none;
    }

    .solution-open-page {

        .prod-object-socket {
            width: 150px;
            height: 600px;
            left: -10px;
        }
    }

    #hybrid-top-1 {
        top: 0;
        width: 150px;
        height: 119px;
    }

    #hybrid-top-2 {
        width: 111px;
        height: 90px;
        left: 21px;
        top: -13px;
    }

    #hybrid-mid {
        width: 126px;
        height: 285px;
        top: 156px;
    }

    #hybrid-btm {
        width: 132px;
        height: 153px;
        top: auto;
        bottom: 0;
    }

    .prod-object-buttons {
        position: absolute;
        width: 600px;
        left: 50%;
        transform: translateX(-50%);
        top: 550px;
        height: 44px;
        display: block;

        .btn-dir.up {
            position: absolute;
            left: 0;
        }

        .btn-dir.down {
            position: absolute;
            right: 0;
        }
    }
}

@include mobile {
    .prod-object-buttons {
        left: 0;
        right: 0;
        width: auto;
        transform: none;
    }
}

// TECHNICAL SPEC
.prod-tech-spec-wrap {
    
    overflow: hidden;

    .ttl-5 {

    }
}

.prod-tech-spec-main {
    padding: 23px 0 26px;
    border-top: 1px solid $colorBorder;
    border-bottom: 1px solid $colorBorder;
}