/* =========================
    Terms 
   ========================= */

.content-terms {
    position: relative;
    height: 100%;
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;

    .media-stream--container {
        margin: 0 30px;

        .media-stream--col-l {
            padding-bottom: 60px;
        }
    }

    .fag-question.active .fag-q-body {
        padding-left: 0;
    }

    .fag-question .fag-q-open {
        top: auto;
        bottom: 18px;
    }

    .fag-row {
        margin-bottom: 67px;

        .terms-ans {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 12px;

            .fag-question {
                padding-bottom: 18px;
            }

            .fag-question .fag-q-body>p {
                width: 71%;
                margin-bottom: 54px;
            }
        }
    }

    .media-stream--col-r {
        width: 24%;
        padding-top: 15px;
    }

    .filter-sidebar-section {
        padding-top: 37px;

        .file-list.scroll {
            margin-bottom: 31px;
        }
    }
}



@include macbook {

    .content-terms {
        .media-stream--container {
            width: auto;
            margin: 0 30px;
        }

        .fag-row .terms-ans .fag-question .fag-q-body>p {
            width: 100%;
            margin-bottom: 35px
        }
    }
}

@include tablet {
    .content-terms .fag-row {
        margin-bottom: 68px;
        .terms-ans{
            margin-bottom: 44px;
            .fag-question .fag-q-body>p {
                margin-bottom: 82px;
            }
        }
    }

    .content-terms {
        padding-top: 50px;

        .media-stream--container {
            width: auto;
            margin: 0 25px;
        }
    }
}
@include mobile{
    .content-terms .fag-row .terms-ans{
        margin-bottom: 48px;
    .fag-question{
            padding-bottom: 42px;
            .fag-q-open{
            
                bottom: 42px;
            }
            &.active{
                .fag-q-open{ width: 53px;
                height: 53px;
                bottom: 20px;
                }
            }
        }
    }
}