<div id="@@id" class="careers-tab-block tab-block @@classes">
    <address class="address-block">
        655 4th Street <br>
        Moscow, 25  <br>
        Russia <br>
        Phone: +7 255-115-2235 <br>
        E-mail: sf@petainer.net
    </address>

    <div class="careers-tablet">
        <div class="careers-row">
            <div class="careers-td careers-th">
                Position
            </div>
            <div class="careers-td careers-th">
                Posted
            </div>
            <div class="careers-td careers-th">
                Location
            </div>
        </div>

        <div class="careers-row drop-block">
            <div class="careers-td">
                <div class="position-name drop-block-ttl">
                    <div class="plus-drop"></div>
                    <div class="ttl ttl-3">Frontend Engineer</div>
                </div>
            </div>
            <div class="careers-td">
                <div class="position-desc-item">
                    <div class="label">Posted</div>
                    <div class="date">05.09.18</div>
                </div>
            </div>
            <div class="careers-td">
                <div class="position-desc-item">
                    <div class="label">Location</div>
                    <div class="city">Paris</div>
                </div>

                @@include('./elements/button.htm', { 
                    "text": "Get In Touch", 
                    "classes": "btn-touch",
                    "submit" : false
                })
            </div>

            <div class="position-drop drop-block-content content-text">
                <section>
                    <p>
                        We’re putting together a new product design team. The task at hand is bold: Creating a brand new Conferize. We want to pioneer how and why people meet. We’re putting event makers back in control with creative tools for gathering their crowd.
                    </p>
                    <div class="ttl-5">About you</div>
                    <ul>
                        <li>You live and breathe the web. It’s close to your heart, at your fingertips.</li>
                        <li>You’re a top of the class graphic/visual designer, but you know it’s only a part of crafting the best possible experience.</li>
                        <li>You see and understand the mechanisms and hidden details which make a digital product unique.</li>
                        <li>You’ve been part of a product driven organisation and have years of hands-on UX and design experience creating professional digital products.</li>
                    </ul>
                </section>

                @@include('./elements/button.htm', { 
                    "text": "Get In Touch", 
                    "classes": "btn-touch",
                    "submit" : false
                })
            </div>
        </div>

        <div class="careers-row drop-block">
            <div class="careers-td">
                <div class="position-name drop-block-ttl">
                    <div class="plus-drop"></div>
                    <div class="ttl ttl-3">Agency Partner Manager</div>
                </div>
            </div>
            <div class="careers-td">
                <div class="position-desc-item">
                    <div class="label">Posted</div>
                    <div class="date">22.10.18</div>
                </div>
            </div>
            <div class="careers-td">
                <div class="position-desc-item">
                    <div class="label">Location</div>
                    <div class="city">Madrid</div>
                </div>

                @@include('./elements/button.htm', { 
                    "text": "Get In Touch", 
                    "classes": "btn-touch",
                    "submit" : false
                })
            </div>

            <div class="position-drop drop-block-content content-text">
                <section>
                    <div class="ttl-5">About you</div>
                    <ul>
                        <li>You live and breathe the web. It’s close to your heart, at your fingertips.</li>
                        <li>You’re a top of the class graphic/visual designer, but you know it’s only a part of crafting the best possible experience.</li>
                        <li>You see and understand the mechanisms and hidden details which make a digital product unique.</li>
                        <li>You’ve been part of a product driven organisation and have years of hands-on UX and design experience creating professional digital products.</li>
                    </ul>
                </section>

                @@include('./elements/button.htm', { 
                    "text": "Get In Touch", 
                    "classes": "btn-touch",
                    "submit" : false
                })
            </div>
        </div>

        <div class="careers-row drop-block">
            <div class="careers-td">
                <div class="position-name drop-block-ttl">
                    <div class="plus-drop"></div>
                    <div class="ttl ttl-3">Financial Advisor</div>
                </div>
            </div>
            <div class="careers-td">
                <div class="position-desc-item">
                    <div class="label">Posted</div>
                    <div class="date">05.10.18</div>
                </div>
            </div>
            <div class="careers-td">
                <div class="position-desc-item">
                    <div class="label">Location</div>
                    <div class="city">Madrid</div>
                </div>

                @@include('./elements/button.htm', { 
                    "text": "Get In Touch", 
                    "classes": "btn-touch",
                    "submit" : false
                })
            </div>

            <div class="position-drop drop-block-content content-text">
                <section>
                    <div class="ttl-5">About you</div>
                    <ul>
                        <li>You’re a top of the class graphic/visual designer, but you know it’s only a part of crafting the best possible experience.</li>
                        <li>You see and understand the mechanisms and hidden details which make a digital product unique.</li>
                        <li>You’ve been part of a product driven organisation and have years of hands-on UX and design experience creating professional digital products.</li>
                    </ul>
                </section>
                @@include('./elements/button.htm', { 
                    "text": "Get In Touch", 
                    "classes": "btn-touch",
                    "submit" : false
                })
            </div>
        </div>
    </div>
</div>