<div id="@@id" class="@@classes file-list scroll">
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Set Up", 
        "size": "3 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Manual", 
        "size": "7 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Set your filling", 
        "size": "2 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Manual text", 
        "size": "3 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Set", 
        "size": "15 mb", 
        "classes": "" 
    })
</div>