<div id="@@id" class="@@classes file-list scroll">
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Before you Start", 
        "size": "2 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Set Up", 
        "size": "8 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Manual Filling", 
        "size": "12 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Set your filling", 
        "size": "1 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Set your filling", 
        "size": "7 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Set your filling", 
        "size": "1 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Before you Start", 
        "size": "2 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Set Up", 
        "size": "12 mb", 
        "classes": "" 
    })
</div>