<div id="@@id" class="@@classes file-list scroll">
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Before you Start", 
        "size": "33 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Set Up", 
        "size": "122 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Manual", 
        "size": "8 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Set filling", 
        "size": "11 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Opening", 
        "size": "1.5 mb", 
        "classes": "" 
    })
    @@include('./elements/file-item.htm', { 
        "href": "#",
        "text": "Set your filling", 
        "size": "92 mb", 
        "classes": "" 
    })
</div>