<div class="footer-main @@classes">
    <div class="socket">
        <div class="layout-row footer-main-top">
            <div class="layout-col-l">
                <a class="logo" href="index.html">
                    <img src="images/logo.svg" alt="logo">
                </a>
            </div>

            <div class="layout-col-r">
                <div class="layout-row">
                    <div class="layout-col-s-4">
                        <div class="sign-up-block">
                            <h4 class="ttl-4">Sign up for the latest news:</h4>
                            <form class="email-form" action="#" autocomplete="off">
                                <input type="email" placeholder="Email" required>
                                <button class="btn btn-g btn-arrow-a btn-change-text" data-text="Subscribe"
                                    type="submit"
                                    data-media="(max-width: 767px), and (max-width: 840px) and (orientation: landscape)">
                                    <span>OK</span>
                                    <div class="arrow"></div>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="layout-col-s-6">
                        <ul class="footer-menu">
                            <li><a href="../resources.html">Resources</a></li>
                            <li><a href="../faq.html">FAQ</a></li>
                            <li><a href="../news.html">News</a></li>
                            <li><a href="../team.html">Work with us</a></li>
                            <li><a href="../events.html">Events</a></li>
                            <li><a href="../contact.html">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-row footer-main-bottom">
            <div class="layout-col-l">
                <div class="hint">Follow us</div>
            </div>

            <div class="layout-col-r">
                <div class="layout-row">
                    <div class="layout-col-s-4">
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/petainer">
                                    <span>Facebook</span>
                                    <img src="images/social-facebook.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/petainer">
                                    <span>Twitter</span>
                                    <img src="images/social-twitter.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/petainerglobal/">
                                    <span>Instagram</span>
                                    <img src="images/social-instagram.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="layout-col-s-6 fx-sb">
                        <div class="copyright">© 2019 Petainer, All rights reserved.</div>
                        <a class="terms link-l" href="privacy.html">Terms of Service</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>