<header class="header socket @@classes">
    <div class="layout-row">
        <div class="layout-col-l">
            <!-- Lang -->
            <div class="drop-down-element">
                <div class="drop-down-sel">
                    <span>English</span>
                </div>
                <div class="drop-down">
                    <a class="drop-down-item" href="#">
                        <img class="flag" src="images/fl-ru.png" alt="flag">
                        <span>Ru</span>
                    </a>
                    <a class="drop-down-item" href="#">
                        <img class="flag" src="images/fl-spa.png" alt="flag">
                        <span>Spa</span>
                    </a>
                    <a class="drop-down-item" href="#">
                        <img class="flag" src="images/fl-chi.png" alt="flag">
                        <span>Chi</span>
                    </a>
                </div>
            </div><!-- / Lang -->

            <a class="link-main" href="/contact.html">Contact</a>
        </div>

        <div class="layout-col-r">
            <div class="logo-col">
                <a class="logo" href="index.html">
                    <img src="images/logo.svg" alt="logo">
                    <img src="images/logo-w.svg" alt="logo">
                </a>
            </div>
            <div class="middle-left-col">
                <a class="link-main solutions" href="solutions.html">Solutions</a>
            </div>
            <div class="middle-col">
                <a class="link-main resources" href="resources.html">Resources</a>
            </div>
            <div class="middle-right-col">
                <a class="link-main about-us" href="about-us.html">About us</a>
                <a class="link-main news" href="news.html">News</a>

                <div class="header-right-elements">
                    <a class="search-switcher"></a>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="menu-switcher-socket @@classes">
    <button class="menu-switcher"><i></i><i></i></button>
</div>


<div class="cookies">
    <div class="socket">

        <p>By continuing to browse this site, you give consent for
            cookies to be used. For more information, please refer
            to our <a href="./terms&cond.html">privacy policy.</a>
        </p>

        <div class="buttons">
            @@include('./elements/button.htm', {
            "text": "Accept",
            "submit" : "",
            "classes": "btn-g accept"
            })
            <!-- @@include('./elements/button.htm', {
            "text": "Refuse",
            "submit" : "",
            "classes": " refuse"
            }) -->
        </div>
    </div>
</div>