<div class="menu-wrap">
    <div class="menu">
        <div class="hint hint-close fade-in">Close</div>

        <div class="menu-inner">
            <ul class="menu-main">
                <li class="move-from-right @@solution">
                    <div class="fig"></div>
                    <a href="solutions.html">Solutions</a>
                </li>
                <li class="move-from-right @@about">
                    <div class="fig"></div>
                    <a href="#">About Us</a>
                </li>
                <li class="move-from-right @@news">
                    <div class="fig"></div>
                    <a href="news.html">News</a>
                </li>
                <li class="move-from-right @@resources">
                    <div class="fig"></div>
                    <a href="resources.html">Resources</a>
                </li>
            </ul>

            <div class="hint hint-more with-arrow fade-in">More</div>
            <ul class="menu-more">
                <li class="move-from-right @@events">
                    <div class="fig"></div>
                    <a href="events.html">Events</a>
                </li>
                <li class="move-from-right @@cases">
                    <div class="fig"></div>
                    <a href="case-studies.html">Case Studies</a>
                </li>
                <li class="move-from-right @@careers">
                    <div class="fig"></div>
                    <a href="careers.html">Careers</a>
                </li>
                <li class="move-from-right @@sites">
                    <div class="fig"></div>
                    <a href="#">Sites </a>
                </li>
                <li class="move-from-right @@contact">
                    <div class="fig"></div>
                    <a href="#">Contact</a>
                </li>
            </ul>

            <div class="follow-us fade-in">
                <div class="hint">Follow us</div>
                <ul class="social">
                    <li>
                        <a href="">
                            <span>Facebook</span>
                            <img src="images/social-facebook.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Twitter</span>
                            <img src="images/social-twitter.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Instagram</span>
                            <img src="images/social-instagram.svg" alt="">
                        </a>
                    </li>
                </ul>
                <a class="link-l" href="privacy.html">Privacy & Cookies</a>
            </div>
        </div>
    </div>

    <div class="menu-bg"></div>
</div>
