<div id="@@id" class="contact-select-block select-block @@classes">
    <address class="address-block">
        655 4th Street <br>
        London, CA 94107 <br>
        England <br>
        Phone: +1 305-230-4070 <br>
        E-mail: sf@petainer.net
    </address>
    <div class="contact-row">
        <div class="flag">
            <div class="flag-inner">
                <img src="./images/flag-cn.png" alt="">
                <span class="flag-text">
                    Canada
                </span>
            </div>
        </div>
        <div class="flag">
            <div class="flag-inner">
                <img src="./images/flag-us.png" alt="">
                <span class="flag-text">
                    US
                </span>
            </div>
        </div>
        <div class="flag">
            <div class="flag-inner">
                <img src="./images/flag-cr.png" alt="">
                <span class="flag-text">
                    Sweden
                </span>
            </div>
        </div>
        <div class="flag">
            <div class="flag-inner">
                <img src="./images/flag-sw.png" alt="">
                <span class="flag-text">
                    Brazil
                </span>
            </div>
        </div>
        <div class="flag">
            <div class="flag-inner">
                <img src="./images/flag-br.png" alt="">
                <span class="flag-text">
                    Czech Republic
                </span>
            </div>
        </div>
    </div>
</div>