<div id="@@id" class="contact-select-block select-block @@classes">
    <address class="address-block">
        655 4th Street <br>
        London, CA 94107 <br>
        England <br>
        Phone: +1 305-230-4070 <br>
        E-mail: sf@petainer.net
    </address>
    <div class="contact-row">
        <div class="persone">
            <div class="persone-inner">
                <img src="./images/ava-1.png" alt="">
                <p class="persone-country">
                    USA (South)
                </p>
                <p class="persone-position">
                    Territory Manager
                </p>
                <p class="persone-name">
                    Dan Moss
                </p>
            </div>
        </div>
        <div class="persone">
            <div class="persone-inner">
                <img src="./images/ava-2.png" alt="">
                <p class="persone-country">
                    USA (Mid—West)
                </p>
                <p class="persone-position">
                    Territory Manager
                </p>
                <p class="persone-name">
                    David Thennes
                </p>
            </div>
        </div>
        <div class="persone">
            <div class="persone-inner">
                <img src="./images/ava-3.png" alt="">
                <p class="persone-country">
                    USA (South—East)
                </p>
                <p class="persone-position">
                    Territory Manager
                </p>
                <p class="persone-name">
                    Kelly Thompson
                </p>
            </div>
        </div>
        <div class="persone">
            <div class="persone-inner">
                <img src="./images/ava-4.png" alt="">
                <p class="persone-country">
                    USA (South)
                </p>
                <p class="persone-position">
                    Sales and Marketing
                </p>
                <p class="persone-name">
                    Tammy Duhaime
                </p>
            </div>
        </div>
        <div class="persone">
            <div class="persone-inner">
                <img src="./images/ava-5.png" alt="">
                <p class="persone-country">
                    USA (South)
                </p>
                <p class="persone-position">
                    Senior Sales Manager
                </p>
                <p class="persone-name">
                    Scott Fore
                </p>
            </div>
        </div>

    </div>
</div>