<div id="@@id" class="sites-tab-block tab-block  @@classes">
    <div class="st-top-title socket">
        <div class="st-top-country">
            <img src="./images/@@img.png" alt="@@img">
            <h1 class="ttl-1">@@name</h1>
        </div>
        <div class="st-top-country-history">
            <p class="text">Site Activities: Preforms,
                One—way bottles, Refillable bottles, Jars.</p>
            <p class="years-sites">1984 ------------------ 2019</p>
        </div>
    </div>

    <div class="layout-row layout-row--minus-logo socket chart-wrap chart-carosuel">
        <div class="layout-col-l">
            <div class="slider-buttons slider-buttons-c">
                <button class="prev button-prev"></button>
                <button class="next button-next"></button>
            </div>
            <div class="chart-title">Sites key Facts</div>
        </div>
        <div class="layout-col-r">
            <div class="sites-chart">
                <div class="carosuel-text">
                    <span class="carosuel-text-inner active">Company founded</span>
                    <span class="carosuel-text-inner">Company founded</span>
                    <span class="carosuel-text-inner">Company founded</span>
                    <span class="carosuel-text-inner">Company founded</span>
                    <span class="carosuel-text-inner">Company founded</span>
                    <span class="carosuel-text-inner">Company founded</span>
                    <span class="carosuel-text-inner">Company founded</span>
                    <span class="carosuel-text-inner">Company founded</span>
                </div>
                <div class="carosuel">
                    <div class="slider-row">
                        <div class="slide"><span class="year-slider ttl-4">1992</span></div>
                        <div class="slide"><span class="year-slider ttl-4">1995</span></div>
                        <div class="slide"><span class="year-slider ttl-4">1996</span></div>
                        <div class="slide"><span class="year-slider ttl-4">2000</span></div>
                        <div class="slide"><span class="year-slider ttl-4">2010</span></div>
                        <div class="slide"><span class="year-slider ttl-4">2016</span></div>
                        <div class="slide"><span class="year-slider ttl-4">2018</span></div>
                        <div class="slide slide-without"><span class="year-slider ttl-4">2020</span></div>
                        <div class="slide slide-empty"></div>
                        <div class="slide slide-empty"></div>
                        <div class="slide slide-empty"></div>
                        <div class="slide slide-empty"></div>
                        <div class="slide slide-empty"></div>
                    </div>
                </div>
                <div class="swipe-hint only-mobile"></div>
            </div>
            <ol class="sites-chart-list">
                <li>
                    <p>The Lidköping site is closely collaborating with both its customers and Swedish
                        authorities</p>
                </li>
                <li>
                    <p>O support the creation of one of the most efficient deposit systems and promote
                        recycling and reuse.
                    </p>
                </li>
                <li>
                    <p>Expertise in Cleanpet (PCR)</p>
                </li>
            </ol>
        </div>
    </div>
    <!-- Video -->
    <div class="video-sites">
        <img class="media-img" src="images/sites-1.png" alt="#">
        <div class="socket layout-row">
            <div class="layout-col-l"></div>
            <div class="video-site-panel layout-col-r">

                <div class="top-text">
                    How Petainer is taking recycling to the next level.
                </div>
                <div class="play-button-wrap">
                    <div class="play trans"></div>
                    <div class="text-b trans">2:21</div>
                </div>
                <div class="bottom-text">
                    <h5 class="ttl-5">Video</h5>
                    <h3 class="ttl-3"> Closing the Loop</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Years -->
    <div class="layout-row layout-row--minus-logo socket site-info">
        <div class="layout-col-l">
            2018 years
        </div>
        <div class="layout-col-r" data-text='CSR Gold Rating'>
            <div class="site-info-icon">
                <img src="./images/v-icon.png" alt="">
            </div>
            <h2 class="ttl-2">
                EcoVadis <br>
                Gold Rating
            </h2>
            <p class="site-info-top-text">In Sweden, Petainer has achieved a CSR Gold Rating by EcoVadis,
                the
                global CSR ratings agency.
            </p>
            <div class="site-info-row">
                <div class="site-info-col">
                    <img src="images/ind-1.svg" alt="">
                    <p>
                        EcoVadis analyses 21 factors across four themes—environment, fair labour practices,
                        ethics and fair business practices, and supply chain.
                    </p>
                </div>
                <div class="site-info-col">
                    <img src="images/ind-1.svg" alt="">
                    <p>Petainer has improved its overall score with a particularly strong performance in the
                        environmental category and is now amongst the top 1% of all Plastics Manufacturers
                        evaluated by EcoVadis.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Cleanpet -->
    <div class="sites-fader-wrap">
        <div class="fader sites-fader layout-row socket">
            <div class="layout-col-l">
                <div class="slider-buttons slider-buttons-c">
                    <button class="prev button-prev"></button>
                    <button class="next button-next"></button>
                </div>
            </div>
            <div class="layout-col-r">
                <ul class="slider-dots">
                    <li class="active">
                        <div class="index">01.</div>
                        <div class="text-main">Cleanpet</div>
                    </li>
                    <li>
                        <div class="index">02.</div>
                        <div class="text-main">50% Cleanpet.</div>
                    </li>
                    <li>
                        <div class="index">03.</div>
                        <div class="text-main">600 million</div>
                    </li>
                </ul>

                <div class="swipe-hint only-mobile"></div>

                <div class="slides">
                    <div class="slide active">
                        <div class="col-left">
                            <h2 class="ttl-2">Cleanpet</h2>
                        </div>
                        <div class="col-right">
                            <div class="icon">
                                <img src="images/ind-1.svg" alt="">

                            </div>
                            <p>Petainer has improved its overall score with a particularly strong
                                performance in
                                the
                                environmental category and is now amongst the top 1% of all Plastics
                                Manufacturers
                                evaluated by EcoVadis.
                            </p>
                        </div>
                    </div>
                    <div class="slide ">
                        <div class="col-left">
                            <h2 class="ttl-2">Cleanpet</h2>
                        </div>
                        <div class="col-right">
                            <div class="icon">
                                <img src="images/ind-1.svg" alt="">

                            </div>
                            <p>Petainer has improved its overall score with a particularly strong
                                performance in
                                the
                                environmental category and is now amongst the top 1% of all Plastics
                                Manufacturers
                                evaluated by EcoVadis.
                            </p>
                        </div>
                    </div>

                    <div class="slide ">
                        <div class="col-left">
                            <h2 class="ttl-2">Cleanpet</h2>
                        </div>
                        <div class="col-right">
                            <div class="icon">
                                <img src="images/ind-1.svg" alt="">

                            </div>
                            <p>Petainer has improved its overall score with a particularly strong
                                performance in
                                the
                                environmental category and is now amongst the top 1% of all Plastics
                                Manufacturers
                                evaluated by EcoVadis.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Menegment -->
    <div class="layout-row layout-row--minus-logo socket menegment-wrap">
        <h4 class="ttl-4">Management <br>
            Systems and <br>
            Quality Certations</h4>
        <div class="menegment-item">
            <h3 class="ttl-3"> <span class="menegment-icon">ISO</span>9001</h3>
            <div class="menegment-item-text">Quality Management System</div>
        </div>
        <div class="menegment-item">
            <h3 class="ttl-3"> <span class="menegment-icon">FSSC</span>22000</h3>
            <div class="menegment-item-text">Food Safety System Certification</div>
        </div>
        <div class="menegment-item">
            <h3 class="ttl-3"> <span class="menegment-icon">OHSAS</span>18001</h3>
            <div class="menegment-item-text">Energy Management System</div>
        </div>
        <div class="menegment-item">
            <h3 class="ttl-3"> <span class="menegment-icon">ISO</span>14001</h3>
            <div class="menegment-item-text">Quality Management System</div>
        </div>
        <div class="menegment-item">
            <h3 class="ttl-3"> <span class="menegment-icon">ISO</span>50001</h3>
            <div class="menegment-item-text">Energy Management System</div>
        </div>
        <p class="menegment-tx">Lidkoping was audited by LRQA and has obtained the following
            certifications </p>
    </div>
</div>